// Filters
// ------------

//  Animations
// --------------
@keyframes show {
	0%		{opacity: 0;}
	100%  {opacity: 1;}
}

@keyframes anim-enter {
	0%   { opacity: 0; margin-top: -3em; }
	90%	 { margin-top: 0; }
	100% { opacity: 1; }
}

.anim-enter {
	animation: 0.5s anim-enter ease-in;
}

@keyframes spin {
    0%  { transform: rotate(0) scale(2); }
    100%  { transform: rotate(360deg) scale(2); }
    //100%  { transform: rotate(0); }
}