<ul class="lander-section">

    <div class="lander-section--heading__full">
        <a href="{{ site.baseurl }}adventure-directory">
            <h2>
                Featured Adventures
            </h2>
        </a>        
    </div>

    <div class="lander-section--row">
    {% assign directoryItems = site.data.resources | sort: 'featured' %}
    {% for resource in directoryItems %}
        {% if resource.featured %}
        <li class="lander-section--item">

            <a class="lander-section--item__logo" 
               href="{{ site.baseurl }}adventure-directory/#{{ resource.name | slugify }}" 
               style="background-image:url({{ resource.logo }})">
            </a>
            <p class="lander-section--item__desc">
                {{ resource.desc }}
            </p>

        </li>  
        {% endif %}
    {% endfor %}
    </div>
</ul>

