<section class="section--panel">

    <article class="art--container">

        <h2 class="art--title">
            The GoHobo Project
        </h2>

        <div class="art--content">
            <p>
                Our end-game is an alternative travel network, built to bring you - the adventurer - affordable transportation and accommodation solutions. We’re working with some or the sharing economy’s greatest assets and organizations to compile the internet’s best community resources.
            </p>
            <p>
                Live like a local and stay for free by housesitting, split the cost of your next roadtrip by sharing your ride with other people heading your way or snatch up a half-price ticket across the world form a crowd-sourced error-fare tracker. 
            </p>
            <p>      
                We're not here to bring you luxury vacations or first-class airfare. We bring a brand of real, community-driven initiatives, innovations and services for adventurers like you. We're not just cheap travel.
                GoHobo uses existing systems and services to bring you the best of the travel-based sharing-economy. 
                If you have anything to add to our community, or would like to be listed in our Adventure Directory, send us an email at <a href="mailto:gohoboco@gmail.com">gohoboco@gmail.com</a>, or get at us on <a href="https://twitter.com/gohoboco">Twitter</a>
            </p>
        </div>

    </article>

</section>