<section class="section--panel">

    <section class="section--info">
        
        <div class="section--info__content">
            
            <h2 class="section--info__title">
                Coming soon
            </h2>
            <p class="section--info__copy">
                The GoHobo Project will be available very soon. For now, please peruse our Adventure Directory and set yourself up with one of the incredible services available. Save yourself money, find a quick adventure, connect with other adventurers or just see what's out there.  
            </p>

            <a href="/adventure-directory">
                <button class="btn--cta">
                    start your adventure
                </button>
            </a>

        </div>
        

    </section>

</section>