
<h2 class="art--title space--top__md">
    How it works
</h2>

<section class="section--info">
    
    <div class="section--info__content">
        
        <h2 class="section--info__title">
            Enter your location
        </h2>
        <p class="section--info__copy">
           The GoHobo network takes advantage of existing systems and services, bringing together facets of the sharing-economy, community connections, and the benefits of instant communication.    
        </p>

    </div>

    <figure class="section--info__img">
        <img src="{{ site.image_assets }}icons/icon-location.png" 
         srcset="{{ site.image_assets }}icons/icon-location.png 1x,
                 {{ site.image_assets }}icons/icon-location@2x.png 2x"
         title="Enter your location" 
         alt="A map depicting locations. Location based travel">
    </figure>
    

</section>
