
<section class="section--info">
    
    <div class="section--info__content">
        
        <h2 class="section--info__title">
            Set your budget
        </h2>
        <p class="section--info__copy">
           Our goal is to bring together the best of accommodation, transportation, work-exchange, and budget travel opportunities with a focus on affordability, flexibility, adventure, and experience.  
        </p>

    </div>

    <figure class="section--info__img">
        <img src="{{ site.image_assets }}icons/icon-budget.png" 
         srcset="{{ site.image_assets }}icons/icon-budget.png 1x,
                 {{ site.image_assets }}icons/icon-budget@2x.png 2x"
         title="Set your budget" 
         alt="Set a budget to find the best accommodation, transportation, work-exchange, cheap travel.">
    </figure>
    

</section>
