<section class="section theme--light">

	<div class="section--container">

		<div class="icon--camera__left">
			<img srcset="assets/img/icon-camera.png 1x, assets/img/icon-camera@2x.png 2x" 
				 width="23"
				 src="assets/img/icon-camera.png" 
				 title="Toggle photograph info"
				 alt="A camera icon which toggles the photograph's author">
			<label class="info--banner">
				Photo by: <a href="https://unsplash.com/bettenz">Zach Betten</a>
			</label>	 
		</div>
	
		<article class="card--light pos--r">
			<h2>camping</h2>
			<p>
				Besides sleeping under the stars and all the air you can breathe, it's a great way to <a href="http://campinmygarden.com/">meet people</a>, and get some real local insights. Best of all, it's (usually) free!
			</p>

			<img class="card--img" srcset="assets/img/icons/trees.png 1x, assets/img/icons/trees@2x.png 2x" src="assets/img/icons/trees.png" alt="A line drawing of evergreen trees.">

			<button class="btn--context__dark js-toggle-modal" type="button">
				<span class="btn--text">find a campsite</span>
				<div class="btn--fill"></div>
			</button>
		</article>
	
	</div>

</section>