<h6>Share the <span style="color:#F06E61">♥</span></h6>

<div>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.prod_url }}{{ page.url }}&via=gohoboco&related=@gohoboco" rel="nofollow" target="_blank" alt="Share {{page.title}} on Twitter" title="Share on Twitter">
        <button class="btn--share__twitter">
            <span class="icon icon-twitter"></span>
        </button>
    </a>

    <a href="http://pinterest.com/pin/create/button/?url={{ site.prod_url }}{{ page.url }}&media={{  site.prod_url }}{{ site.image_assets }}{{ page.hero }}&description={{ page.title }}" rel="nofollow" target="_blank" alt="Pin {{page.title}} on Pinterest" title="Share on Pinterest">
        <button class="btn--share__pinterest">
           <span class="icon icon-pinterest"></span>
        </button>
    </a>

    <a href="https://facebook.com/sharer.php?u={{ site.prod_url }}{{ page.url }}" rel="nofollow" target="_blank" alt="Share {{page.title}} on Facebook" title="Share on Facebook">
        <button class="btn--share__facebook">
            <span class="icon icon-facebook"></span>
        </button>
    </a>

    <a href="http://www.reddit.com/submit?url={{ site.prod_url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" alt="Share {{page.title}} on Reddit" title="Share on Reddit">
        <button class="btn--share__reddit">
            <span class="icon icon-reddit"></span>
        </button>
    </a>

    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.prod_url }}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source={{ site.prod_url }}" rel="nofollow" target="_blank" alt="Share {{page.title}} on LinkedIn" title="Share on LinkedIn">
        <button class="btn--share__linkedin">
            <span class="icon icon-linkedin"></span>
        </button>
    </a>

    <a href="https://plus.google.com/share?url={{ site.prod_url }}{{ page.url }}" rel="nofollow" target="_blank" alt="Share {{page.title}} on Google+" title="Share on Google+">
        <button class="btn--share__googleplus">
            <span class="icon icon-googleplus"></span>
        </button>
    </a>

    <a href="http://www.tumblr.com/share/link?url={{ site.prod_url }}{{ page.url }}&name={{ page.title }}&description={{ page.desc }}" rel="nofollow" target="_blank" alt="Share {{page.title}} on Tumblr" title="Share on Tumblr">
        <button class="btn--share__tumblr">
            <span class="icon icon-tumblr"></span>
        </button>
    </a>

    <a href="http://www.stumbleupon.com/submit/?url={{ site.prod_url }}{{ page.url }}" rel="nofollow" target="_blank" alt="Share {{page.title}} on StumbleUpon" title="Share on StumbleUpon">
        <button class="btn--share__stumbleupon">
            <span class="icon icon-stumbleupon"></span>
        </button>
    </a>
</div>