<section class="section theme--dark" role="header" id="header">

	<div class="section--container">
	
		<article class="card--transparent pos--l anim-enter">
			
			<h1>
				Adventures for <br/> Regular People
			</h1>

			<a class="form--group__wide" href="#signup">
				<button class="btn--cta" type="button">
					<div class="slide--over__container">
						<div class="slide--over">start your adventure</div>
						<div class="slide--over">you won't regret it.</div>
					</div>
				</button>
			</a>

		</article>

	</div>

</section>