<ul class="post--list">

  <li class="post--list__heading">
    <a href="{{ site.baseurl }}journal">
      <h2>
        Wander Journal
      </h2>
    </a>
  </li>
  {% for post in site.posts limit: 3 %}
  <a class="post--item" href="{{ post.url | prepend: site.baseurl }}">

      <div class="post--overlay">
            
            <h2 class="post--title">
              {{ post.title | truncate: 70, "..." }}
            </h2>

            <h6 class="post--meta">
              {% if post.author %}
                {{ post.author }}
              {% endif %}
              •
              <time datetime="{{ post.date }}">
                {{ post.date | date: "%B %-d, %Y" }}
              </time>
            </h6>
        
      </div>

      <img class="post--thumbnail" src="{{ site.image_assets }}{{ post.hero }}" alt="{{ post.title }}, {{ post.tags | join: ', ' }}">

  </a>  
  {% endfor %}
</ul>
