<section class="section--panel space--bottom__lg">

    <section class="section--info">
        
        <div class="section--info__content">
            
            <h2 class="section--info__title">
                Travel adventures for every budget.
            </h2>
            <p class="section--info__copy">
                Accommodation, transportation, and alternative travel opportunities with a focus on affordability, adventure, and experience beyond cheap travel.
            </p>
        
        </div>

    </section>

</section>