<section class="section--hero -lg -theme--stars" id="header">
    
    <div class="section--hero__tagline">
        <h1>
            Adventures for Regular People
        </h1>
        <h3>
            Accommodation, transportation, and alternative travel opportunities with a focus on affordability, adventure, and experience beyond cheap travel.
        </h3>
    </div>
        
</section>

<section class="section--email-grab">

    <!-- <img src="{{ site.image_assets }}mountain-reflection-email-grab.jpg" alt=""> -->
    <form class="email-grab--form" action="//gohobo.us13.list-manage.com/subscribe/post?u=5f6a30e10e891d0f4921d3148&amp;id=cdec36a9ab" method="post" name="mc-embedded-subscribe-form" target="_blank" accept-charset="utf-8">
       
        <p>
            sign up to receive exclusive adventures in your inbox.
        </p>
        <div class="form--group__row">

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5f6a30e10e891d0f4921d3148_cdec36a9ab" tabindex="-1" value="">
            </div>

            <input class="input" type="email" placeholder="your email" name="EMAIL" required/>

            <button class="btn--input" type="submit" name="subscribe" id="mc-embedded-subscribe">
                sign up
            </button>

        </div>
    </form>
</section>
































