<section class="section--hero -lg -theme--lander" id="header">  

    <div class="hero--content">
        <h1 class="hero--title">
            Adventures for everyone.
        </h1>
        <h3 class="hero--copy">
            Curated alternative travel resources for adventurers, nomads, vandwellers, explorers and travelers. 
        </h3>

        <a href="{{ site.baseurl }}adventure-directory/?utm_source=hero">
        <button class="btn--cta">
            Start your adventure
        </button>
        </a>
    </div>

</section>
