<section class="section--panel space--bottom__lg">

    <section class="section--info">
        
        <div class="section--info__content">
            
            <h2 class="section--info__title">
                GoHobo Apparel
            </h2>
            <p class="section--info__copy">
                To fund our mission, we've designed some exclusive GoHobo threads. Explore hoodies, Vanlife tees, adventure shirts. All clothing is responsibly manufactured and printed in USA.
            </p>

            <a href="/gohobo-apparel?utm_source=hero&utm_medium=hero&utm_campaign=lander">        
                <button class="btn--cta__blue">
                    Check out GoHobo Apparel
                </button>
            </a>
        
        </div>

        <figure class="section--info__img">
            <img src="{{ site.image_assets }}icons/icon-adventure-directory.png" 
                 srcset="{{ site.image_assets }}icons/icon-gohobo-apparel-explorer-tee.png 1x,
                         {{ site.image_assets }}icons/icon-gohobo-apparel-explorer-tee@2x.png 2x"
                 width="220"
                 title="Adventure Directory" 
                 alt="A sign depicting which direction to the Adventure Directory resource">
        </figure>
        

    </section>

</section>
