<section class="section--panel">

    <section class="section--info">
        
        <div class="section--info__content">
            
            <h2 class="section--info__title">
                Go Hobo.
            </h2>
            <p class="section--info__copy">
                If you love travelling, meeting new people, living like a local, the sharing economy, tasting exotic foods, adventuring, camping, roadtripping, learning about other cultures or living in a van, we built GoHobo for you.   
            </p>
            
            <button class="btn--cta js-toggle-modal">
                Just Go
            </button>

        </div>
        
    </section>

</section>