<ul class="post--list">

    <li class="post--list__heading">
        <a href="{{ site.baseurl }}adventure-directory">
            <h2>
                Adventure Directory
            </h2>
        </a>
    </li>
    <div class="post--item__row">
    {% for resource in site.data.resources limit: 6 %}
        <li class="post--item__sm">

            <a class="post--logo" href="{{ site.baseurl }}adventure-directory/#{{ resource.name | slugify }}">
                
                <img src="{{ resource.logo }}" alt="{{ resource.name }} logo" title="{{ resource.name }}">

            </a>

        </li>  
    {% endfor %}
    </div>
</ul>

