<section class="section--panel space--bottom__lg">

  <section class="section--info">
      
      <div class="section--info__content">
          
          <h2 class="section--info__title">
              Wander Journal
          </h2>
          <p class="section--info__copy">
              A source of experience, travel tips, and adventure stories to inspire even the most uninspired wannabe wanderers. Adventures of every kind!
          </p>

          <a href="/journal">
            <button class="btn--cta__blue">
                Get inspired
            </button>
          </a>

      </div>

      <figure class="section--info__img">
          <img src="{{ site.image_assets }}icons/icon-wander-journal.png" 
           srcset="{{ site.image_assets }}icons/icon-wander-journal.png 1x,
                   {{ site.image_assets }}icons/icon-wander-journal@2x.png 2x"
           title="Wander Journal Blog" 
           alt="A book depicting the Wander Journal adventure travel blog">
      </figure>

  </section>

</section>