<section class="section--panel">

    <section class="section--info">
        
        <div class="section--info__content">
            
            <h2 class="section--info__title">
                Go Hobo.
            </h2>
            <p class="section--info__copy">
                If you love travelling, meeting new people, living like a local, the sharing economy, tasting exotic foods, adventuring, camping, roadtripping, learning about other cultures or just living in a van, we built GoHobo for you.   
            </p>

            <a href="/adventure-directory">
                <button class="btn--cta">
                    Just Go
                </button>
            </a>

        </div>
        

    </section>

</section>