<ul class="post--list">
    
    <li class="post--list__heading">
        <a href="{{ site.baseurl }}gohobo-apparel">
            <h2>
                GoHobo Apparel
            </h2>
        </a>
    </li>
    <div class="post--item__row">
    {% for product in site.data.products %}
        <li class="post--item__sm">

            <a class="post--logo" href="{{ site.url }}{{ product.url }}">
                
                <img src="{{ product.img }}" alt="{{ product.title }} from GoHobo Adventure Apparel" title="{{ product.title }} from GoHobo Adventure Apparel">

            </a>

        </li>  
    {% endfor %}
    </div>

</ul>