<section class="section theme--light">

	<div class="section--container">

		<div class="icon--camera__left">	
			<img srcset="assets/img/icon-camera.png 1x, assets/img/icon-camera@2x.png 2x" 
				 width="23"
				 src="assets/img/icon-camera.png" 
				 title="Toggle photograph info"
				 alt="A camera icon which toggles the photograph's author"> 
			<label class="info--banner">
				Photo by: <a href="https://unsplash.com/itkin">Paul Itkin</a>
			</label>
		</div>
	
		<article class="card--light">
			<h2>housesitting</h2>
			<p>
				<a href="https://www.housecarers.com/gohoboco.cfm?mem=000">Housesitting</a> is an incredible way to live like a local and get a taste for life in other countries, without worrying about the full cost of living.
			</p>

			<img class="card--img" srcset="assets/img/icons/housesitting.png 1x, assets/img/icons/housesitting@2x.png 2x" src="assets/img/icons/housesitting.png" alt="A line drawing of a house.">

			<button class="btn--context__dark js-toggle-modal" type="button">
				<span class="btn--text">find a house</span>
				<div class="btn--fill"></div>
			</button>
		</article>
	
	</div>

</section>