<section class="section theme--light">

	<div class="section--container">

		<article class="card--transparent">

			<h3 class="subheading">Coming Soon...</h3>

			<h2>what is gohobo?</h2>

			<p>
				GoHobo is an alternative adventure travel network. We're bringing together the best of budget-friendly alternative travel and accommodation services and putting them at your fingertips.
			</p>

			<p>
				Based on your budget, timeline, and start-point, we'll provide inspiration, methods, connections and the means you need to get where you're going. 
			</p>

			<p>
				Your adventure awaits.
			</p>

		</article>

	</div>

</section>