<article class="modal--overlay">

		<form class="modal--card" method="post" action="http://mailthis.to/GoHobo">
			<div class="modal--close__btn js-toggle-modal" title="Close this window">X</div>

			<h2>
				Can't wait to hit the road?
			</h2>

			<p>
				We're not quite up and running yet, but we're more than happy to help. <br>
				Be sure to include your budget, timeline, and start-point, and we'll do our best to get you on your way.
			</p>

			<input type="text" name="_honey" value="" style="display:none">

			<input type="hidden" 
				   name="_confirmation" 
				   value="<b>Thank you!</b> Your adventure begins NOW! Just kidding, it shouldn't take too long though.">

			<input class="input" type="text" name="email" id="email" placeholder="Your Email"/>	   
			
			<textarea class="input--textarea" name="request details" id="request-details" cols="30" rows="5"></textarea>

			<div class="form--group__wide">
				<button class="btn--cta" type="submit">
					Find me an adventure!
				</button>
			</div>

		</form>

		
		<div class="modal--close js-toggle-modal">
			Close this window
		</div>
	
</article>