<div class="modal--overlay -contact">

    <form action="//flipmail.co/api/vH45jNwSYswxYih4LKb5" class="modal--card" method="post">

        <div class="modal--close__btn js-toggle-modal" title="close this window">
            <span>
                &#215;
            </span>
        </div>

        <div class="input--group">
            <h3 class="input--group__heading">
                Contact GoHobo
            </h3>
            <label class="input--label">
                Get in touch anytime and we'll get back to you as soon as possible - usually within a few hours.
            </label>
        </div> 

        <div class="input--group">
            <label class="input--label">
                Your name
            </label>
            <input type="text" name="name" class="input" id="name">
        </div>
        <div class="input--group">
            <label class="input--label">
                Your email*
            </label>
            <input type="email" name="email" class="input" id="email">
        </div>
        <div class="input--group">
            <label class="input--label">
                Subject
            </label>
            <input type="text" name="subject" class="input" id="subject">
        </div>
        <div class="input--group">
            <label class="input--label">
                Message
            </label>
            <textarea class="input--textarea" name="message" id="message"></textarea>
        </div>

        <input type="hidden" name="_after" value="https://gohobo.co/thank-you">
        <input type="text" name="_honey" value="" style="display:none">
        <input type="hidden" name="_subject" value="GoHobo.co Form Submission">

        <button class="btn--cta" type="submit" name="send">
            Send
        </button>

    </form>

</div>

