<section class="related--posts__container">

    <script type="text/javascript">

        var postsHREF = [{% for post in site.posts %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

        var postsTitle = [{% for post in site.posts %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

        var postsThumb = [{% for post in site.posts %}"{{ site.image_assets }}{{ post.hero | replace: '.jpg', '_thumb.jpg'}}"{% unless forloop.last %},{% endunless %}{% endfor %}];

    </script>

    <div class="related--posts__list">

        <h4 class="related--posts__label">
            Recommended reading
        </h4>

        <script type="text/javascript">
            var randomIndexUsed = [];
            var counter = 0;
            var numberOfPosts = 3;

            while (counter < numberOfPosts)
            {
                var randomIndex;
                var postHREF;
                var postTitle;
                var postThumb;

                randomIndex = Math.floor(Math.random() * postsHREF.length);

                if (randomIndexUsed.indexOf(randomIndex) == "-1")
                {
                    postHREF = postsHREF[randomIndex];
                    postTitle = postsTitle[randomIndex];
                    postThumb = postsThumb[randomIndex];

                    if (counter == (numberOfPosts - 1))
                    {
                        document.write('<div class="related--posts__item"><a href="' + postHREF + '">' +  '<div style="background-image:url(' + postThumb + ');" class="related--posts__thumbnail"></div>' + '<label class="related--posts__title">' + postTitle + '</label>' + '</a></div>');
                    }
                    else
                    {
                        document.write('<div class="related--posts__item"><a href="' + postHREF + '">' +  '<div style="background-image:url(' + postThumb + ');" class="related--posts__thumbnail"></div>' + '<label class="related--posts__title">' + postTitle + '</label>' + '</a></div>');
                    }

                    randomIndexUsed.push(randomIndex);

                    counter++;
                }
            }

        </script>

    </div>

</section>