<script src="{{ 'assets/js/mailbox.js' | prepend: site.url }}"></script>
<aside class="mailbox -is--hidden">
    <form class="mailbox--form" id="emailGrab" action="//gohobo.us13.list-manage.com/subscribe/post?u=5f6a30e10e891d0f4921d3148&amp;id=cdec36a9ab" method="post" name="mc-embedded-subscribe-form" target="_blank" accept-charset="utf-8">
       
        <p>
            Join the GoHobo tribe.
        </p>
        <div class="form--group__row">

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5f6a30e10e891d0f4921d3148_cdec36a9ab" tabindex="-1" value="">
            </div>

            <input class="input" type="email" placeholder="your email" name="EMAIL" required/>

            <button class="btn--input" type="submit" name="subscribe" id="mc-embedded-subscribe">
                Join
            </button>

        </div>
        <div class="mailbox--close js-closeMailbox">
            &#10005;
        </div>

    </form>
</aside>