<footer class="footer" role="info">
  
  <a href="#header" class="tab--to--top">
    ^<br>TOP
  </a>
  
  <img width="120" srcset="{{ 'assets/img/gohobo-logo.png' | prepend: site.url }} 1x, {{ 'assets/img/gohobo-logo@2x.png' | prepend: site.url }} 2x" src="{{ 'assets/img/gohobo-logo.png' | prepend: site.url }}" alt="GoHobo Logo, a handwritten typeface">
  
  <a class="email" href="mailto:gohoboco@gmail.com">
    gohoboco@gmail.com
  </a>
  <div class="social--set">
    <a href="https://twitter.com/goHoboCo" class="twitter-follow-button" data-show-count="false">Follow @goHoboCo</a>
    <div
      class="fb-like"
      data-share="false"
      data-width="49"
      data-show-faces="false">
    </div>
    <a href="https://www.pinterest.com/gohoboco/">
      <img src="" alt="">
    </a>
  </div>

  <small>
    &copy; 2016 GoHobo Co., an alternative travel network
  </small>
  <small>
    GoHobo is Owned &amp; Operated by <a href="https://twitter.com/simgooder">@simgooder</a>
  </small>

</footer>


<!-- Schema LDJSON -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "GoHobo",
    "url": "http://gohobo.co",
    "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
    "sameAs" : [
        "https://www.facebook.com/Go-Hobo-649912611816927",
        "http://www.twitter.com/gohoboco"
    ]
  }
</script>

<!-- Magic Spells -->
<script src="{{ 'assets/js/jquery-2.1.4.min.js' | prepend: site.url }}"></script>
<script src="{{ 'assets/js/tagsort.min.js' | prepend: site.url }}"></script>
<script src="{{ 'assets/js/scripts.js' | prepend: site.url }}"></script>
