<footer class="footer" role="info">
  
  <a href="#header" class="tab--to--top">
    ^<br>TOP
  </a>
  
  <a href="/">
    <img width="120" srcset="{{ 'assets/img/gohobo-logo.png' | prepend: site.url }} 1x, {{ 'assets/img/gohobo-logo@2x.png' | prepend: site.url }} 2x" src="{{ 'assets/img/gohobo-logo.png' | prepend: site.url }}" alt="GoHobo Logo, a handwritten typeface">
  </a>
  
  <div class="social--set">
    <a href="https://twitter.com/goHoboCo" class="twitter-follow-button" data-show-count="false">Follow @goHoboCo</a>
    <div
      class="fb-like"
      data-share="false"
      data-width="49"
      data-show-faces="false">
    </div>
    <a href="https://www.pinterest.com/gohoboco/">
      <img src="" alt="">
    </a>
  </div>

  <a class="email" href="mailto:gohoboco@gmail.com">
    gohoboco@gmail.com
  </a>

  <small>
    &copy; 2016 GoHobo Co., an alternative travel network
  </small>
  <small>
    GoHobo is Owned &amp; Operated by <a href="https://twitter.com/simgooder">@simgooder</a>
  </small>

</footer>

<!-- Magic Spells -->
<script src="{{ 'assets/js/jquery-2.1.4.min.js' | prepend: site.url }}"></script>
<script src="{{ 'assets/js/tagsort.min.js' | prepend: site.url }}"></script>
<script src="{{ 'assets/js/scripts.js' | prepend: site.url }}"></script>
