
@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
}

.cf:after {
    clear: both;
}

// Proportional element
@mixin square($param) {
	height: $param;
	width: $param;
}

// Adds an ellipsis on overflowing text
@mixin truncate {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

// Vertically align an element!
@mixin v-align{
	transform:translate(0, -50%);
	top: 50%;
}

@mixin h-align {
	transform: translate(-50%, 0);
	left: 50%;
}

@mixin all-align {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

// Colour your placeholders in a snap!
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		color: $color;		
	}
	&::-moz-placeholder {
		color: $color;     
	}
	&:-ms-input-placeholder {  
		color: $color;
	}
}

@mixin article-width {
	width: 95%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}