
.visuallyhidden,
%visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.text-center {
	text-align: center;
}

.cf, %cf {
	@include clearfix;
}

// Add this class, and a definitive width for a trailing ellipse
// `...`
.truncate {
	@include truncate;
}

// Alignment
.middle  {margin-left: auto;margin-right:auto;}
.v-align {@include v-align;}

// Floats

// Floats
.fl-l {float:left;}
.fl-r {float:right;}