// This is a font stack to use the OS' default font
$system-font-stack: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;

// The $space variable is set to 16px, which is equal to 1em, if the body font-size is set to 100%;
$space: 1em;


// Colours
$color-dark: #333;
$color-cta: #F06E61;
$color-blue : #6AB9FF;

$color-orange: #ff6767;
$color-pink: #ED4F80;
$color-pink-hot: #ff3366;
$color-purple: #B976FE;

$color-cta-grad: linear-gradient(-45deg, $color-pink 0%, $color-orange 100%);

$color-blue-grad: linear-gradient(-45deg, #98F5ED 0%, $color-blue 100%);

$color-purple-grad: linear-gradient(-45deg, $color-pink 0%, $color-purple 100%);

$color-gray-light: #eee;
$color-gray: #777;


// Social Colours
$color-twitter:     #1DA1F2;
$color-facebook:    #3b5999;
$color-googleplus:  #db4437;
$color-linkedin:    #0077B5;
$color-pinterest:   #BD081C;
$color-reddit:      #ff4500;
$color-tumblr:      #35465c;
$color-stumbleupon: #EB4924;
