// This is a font stack to use the OS' default font
$system-font-stack: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;

// The $space variable is set to 16px, which is equal to 1em, if the body font-size is set to 100%;
$space: 1em;


// Colours
$color-dark: #333;
$color-cta: #F06E61;
$color-blue : #6AB9FF;

$color-cta-grad: linear-gradient(-45deg, #F6B299 0%, #FE81A8 100%);

$color-blue-grad: linear-gradient(-45deg, #98F5ED 0%, #6AB9FF 100%);

$color-purple-grad: linear-gradient(-45deg, #FD97B9 0%, #B976FE 100%);

$color-gray-light: #eee;
$color-gray: #777;
