@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?on0eb3');
  src:  url('../font/icomoon.eot?on0eb3#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?on0eb3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-stumbleupon:before {
  content: "\eace";
}
.icon-pinterest:before {
  content: "\ead2";
}