.space--top__lg {
	margin-top: 6em;
}

.space--top__md {
    padding-top: 4em;
}

// a box is just a group of elements layed out evenly
.row {
	display: flex;
	flex-flow: row nowrap;

	justify-content: center;
	align-items: center;
}

.row--spaced {
	display: flex;
	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: center;
}

.section--content {
	width: 100%;
	max-width: 92.5em;
	margin-left: auto;
	margin-right: auto;


	@include mq-md {
		padding-left: 4em;
		padding-right: 4em;
	}
	@include mq-sm {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	&__spaced {
		width: 100%;
		max-width: 92.5em;

		margin-left: auto;
		margin-right: auto;
		margin-top: 6em;
		margin-bottom: 6em;

		@include mq-md {
			padding-left: 4em;
			padding-right: 4em;
		}
		@include mq-sm {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}
}


	.section--container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		height: 100%;
		min-height: 100vh;

		position: relative;

		@include mq-md {
			padding-left: 10%;
			padding-right: 10%;
		}
	}

    .section--panel {
        position: relative;
        min-height: 90%;
        min-height: 90vh;

        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
    }


// for the horiztonally overflowing list on the homepage
// ------------------------------------------------------
.horizontal--overflow {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
}

// info sections like on the home page
// -------------------------------------

.section--info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 4em;

    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 2em;
    padding-right: 2em;

    @include mq-md {
        max-width: 54em;
        flex-flow: row wrap;
    }
    @include mq-sm {
        flex-flow: column wrap;
    }
}

.section--info:nth-of-type(2) {
    
}

    .section--info__content {
        display: inline-block;
        vertical-align: top;

        @include mq-md {
            width: 50%;
        }
        @include mq-sm {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;

            order: 2;
        }

        p {
            margin-bottom: 2.5em;
        }
    }

    .section--info__img {
        margin: 0;

        text-align: center;
        display: inline-block;
        vertical-align: top;

        @include mq-md {
            margin-left: auto;
            width: 40%;
        }
        @include mq-sm {
            order: 1;
            margin-bottom: 4em;
            width: 60%;
        }
    }




