
// a box is just a group of elements layed out evenly
.row {
	display: flex;
	flex-flow: row nowrap;

	justify-content: center;
	align-items: center;
}

.footer {
	background-color: #fff;
	padding: 6em 10% 4em 10%;
	position: relative;

	display: flex;

	justify-content: space-between;
	align-items: center;

	border-top: 0.1em solid #efefef;
	
	@include mq-md {
		flex-flow: row wrap;
	}
	@include mq-sm {
		flex-flow: column nowrap;
		align-items: space-between;
	}

	.tab--to--top {
		position: absolute;
		right: 10%;
		z-index: 2;

	    text-align: center;
	    line-height: 1;
	    text-decoration: none;

		padding: 0.5em 1em;
	    background-color: #fff;

	    border-top-left-radius: 0.5em;
	    border-top-right-radius: 0.5em;

	    border-top: 0.1em solid #efefef;
	    border-right: 0.1em solid #efefef;
	    border-left: 0.1em solid #efefef;

	    @include mq-md {
	    	top: -48px;
	    }
	    @include mq-sm {
	    	top: -42px;
	    }
	}
}

.section--hero {
	position: relative;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;

	@include mq-md {
		min-height: 500px;
		// pull up under the header
		margin-top: -128px;
	}
	@include mq-sm {
		min-height: 200px;
		// pull up under the header
		margin-top: -112px;
	}

	&.-lg {
		@include mq-md {
			height: 80vh;
		}
		@include mq-sm {
			height: 100vh;
		}
	}
	&.-sm {
		@include mq-md {
			height: 60vh;
		}
		@include mq-sm {
			height: 50vh;
		}
	}

	&.-theme--journal {
		@include mq-md {
			background:transparent url('../img/hero-bg-gohobo@2x.jpg') center center no-repeat;
			background-size: cover;
		}
		@include mq-sm {
			background:transparent url('../img/hero-bg-gohobo.jpg') center center no-repeat;
			background-size: cover;
		}
	}
}

	.hero--title {
		text-align: center;
		font-size: 10vw;

		@include mq-xl {
			font-size: 8em;
		}
	}

.section  {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;

	@include mq-md {
		min-height: 40em;
	}

}

	.section--container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		height: 100%;
		min-height: 100vh;

		position: relative;

		@include mq-md {
			padding-left: 10%;
			padding-right: 10%;
		}
	}

		article {
			display: flex;
			flex-wrap: wrap;
			align-content: center;

			flex-direction: column;

			@include mq-sm {
				justify-content: center;
			}
		}



// The Section Backgrounds
//-----------------------------

// the pull-up margin to cover the space caused by clipping
$clip-margin: -2.8em;

// header / hero
.home > .section:nth-of-type(1) {
	background: url('../img/yukon-lookout_kelly-rogan.jpg')no-repeat center center fixed;
	background-size: cover;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);

	@include mq-md {
		// pull up under the header
		margin-top: -128px;
	}
	@include mq-sm {
		// pull up under the header
		margin-top: -112px;
	}
}

// intro
.home > .section:nth-of-type(2) {

	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);

	margin-top: $clip-margin;
}

// on the road
.home > .section:nth-of-type(3) {
	background: url('../img/on-the-road_forrest-cavale.jpg')no-repeat center center fixed;
	background-size: cover;

	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);

	margin-top: $clip-margin;
}

// ridesharing
.home > .section:nth-of-type(4) {
	background: url('../img/ridesharing_zachary-staines.jpg')no-repeat center center fixed;
	background-size: cover;

	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);

	margin-top: $clip-margin;
}

// camping
.home > .section:nth-of-type(5) {
	background: url('../img/camping-desert_zach-betten.jpg')no-repeat center center fixed;
	background-size: cover;

	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);

	margin-top: $clip-margin;
}

// housesitting
.home > .section:nth-of-type(6) {
	background: url('../img/cabin-at-night_paul-itkin.jpg')no-repeat center center fixed;
	background-size: cover;

	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);

	margin-top: $clip-margin;
}

// email capture
.home > .section:nth-of-type(7) {
	background: url('../img/silhouette-trees_lou-levit.jpg')no-repeat center center;
	background-size: cover;

	-webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);

	margin-top: $clip-margin;

	// ie fix::
	// ie 11 ignores the left and right margins

	align-items: center;
}



// Firefox specific Clip-Path
// ---------------------------

@-moz-document url-prefix() { 
	
  .home > .section:nth-of-type(1) {
	clip-path: url("../index.html#clip-b");
  }

  .home > .section:nth-of-type(2),
  .home > .section:nth-of-type(3),
  .home > .section:nth-of-type(4),
  .home > .section:nth-of-type(5),
  .home > .section:nth-of-type(6) {
  	clip-path: url("../index.html#clip-poly");
  	//margin-top: 0 !important;
  }

  .home > .section:nth-of-type(7) {
  	clip-path: url("../index.html#clip-t");
  }

}



