.footer {
	background-color: #fff;
	padding: 6em 10% 4em 10%;
	position: relative;
	text-align: center;
    margin-top: 6em;

	border-top: 0.1em solid #efefef;

	@include mq-sm {
		text-align: center;
	}
	
}

// the logo image
.footer--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}


.footer {

	small {
		width: 100%;
		margin-top:4em;
	}

	.email {
		display: block;
		text-decoration: underline;
		padding: 2em 0;
	}
}



.tab--to--top {
	position: absolute;
	right: 10%;
	z-index: 2;

    text-align: center;
    line-height: 1;
    text-decoration: none;

	padding: 0.5em 1em;
    background-color: #fff;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    border-top: 0.1em solid #efefef;
    border-right: 0.1em solid #efefef;
    border-left: 0.1em solid #efefef;

    @include mq-md {
    	top: -48px;
    }
    @include mq-sm {
    	top: -42px;
    }
}

// Social Buttons

.social--set {
	text-align: center;
	margin: 2em 0;

    svg {
        fill: $color-dark;
        width: 3em;
        margin: 0 1em;
    }
}
