.footer {
	background-color: #fff;
	position: relative;
    z-index: 3;
	
    text-align: center;

    @include mq-md {
        padding: 6em 10% 4em 10%;
    }
    @include mq-sm {
        padding: 6em 5% 4em 5%;
    }
    
    //margin-top: 6em;

	border-top: 0.1em solid #efefef;

	@include mq-sm {
		text-align: center;
	}

    
    form {
        margin-top: 1em;
        margin-bottom: 6em;
    }
	
}

// the logo image
.footer--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}


.footer {

	small {
		width: 100%;
		margin-top: 4em;
        display: block;
	}

	small a {
		text-decoration: underline;
	}
}



.tab--to--top {
	position: absolute;
	right: 10%;
	z-index: 2;

    text-align: center;
    line-height: 1;
    text-decoration: none;

	padding: 0.5em 1em;
    background-color: #fff;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    border-top: 0.1em solid #efefef;
    border-right: 0.1em solid #efefef;
    border-left: 0.1em solid #efefef;

    @include mq-md {
    	top: -48px;
    }
    @include mq-sm {
    	top: -42px;
    }
}

// Social Buttons

.social--set {
	text-align: center;
	margin: 2em 0;

    svg {
        fill: $color-dark;
        margin: 0 1em;

        cursor: pointer;

        transition: 0.25s;

        @include mq-md {
            width: 3em;
        }
        @include mq-sm {
            width: 2.2em;
        }

        &:hover {
            transform: scale(1.15);
            fill: $color-cta-grad;
        }
    }
}
