.footer {
	background-color: #fff;
	position: relative;
    z-index: 3;
	
    text-align: center;

    @include clearfix;

    @include mq-md {
        padding: 6em 10% 4em 10%;
    }
    @include mq-sm {
        padding: 6em 5% 4em 5%;
    }

	border-top: 0.1em solid #efefef;

    
    form {
        margin-top: 1em;
        margin-bottom: 6em;
    }
	
}

.footer--list__col {
    text-align: left;
    
    float: left;

    @include mq-md {
        width: (100% / 3);
    }
    @include mq-sm {
        width: 100%;
        padding: 1em;
    }
}

    .footer--list__item {
        display: block;
        padding-top: 0.25em;
        padding-bottom: 0.25em;

        &:hover {
            color: $color-cta;
        }
    }

    .footer--list__heading {
        border-bottom: 1px solid $color-cta;
        display: inline-block;

        padding-bottom: 1em;
        margin-bottom: 1em;
    }


.footer--cta {
    max-width: 600px;

    text-align: center;
    font-size: 0.85em;

    margin-bottom: 8.5em;
    margin-left: auto;
    margin-right: auto;
}

    .footer--cta__content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .footer--cta__copy {
        padding-top: 1em;
        padding-bottom: 2em;
    }


// the logo image
.footer--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}


.footer {

	small {
		width: 100%;
		margin-top: 6em;
        display: block;

        text-align: left;

        font-size: 70%;
	}

	small a {
		text-decoration: underline;
	}
}



.tab--to--top {
	position: absolute;
	right: 10%;
	z-index: 2;

    text-align: center;
    line-height: 1;
    text-decoration: none;

	padding: 0.5em 1em;
    background-color: #fff;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    border-top: 0.1em solid #efefef;
    border-right: 0.1em solid #efefef;
    border-left: 0.1em solid #efefef;

    @include mq-md {
    	top: -48px;
    }
    @include mq-sm {
    	top: -42px;
    }
}


// Social Buttons

.social--set {
	padding-top: 0.25em;
    padding-bottom: 0.25em;

    svg {
        fill: $color-dark;
        margin: 0 0.5em;

        cursor: pointer;

        transition: 0.25s;

        @include mq-md {
            width: 1.5em;
        }
        @include mq-sm {
            width: 2em;
        }

        &:hover {
            transform: scale(1.15);
            fill: $color-cta;
        }
    }
}
