.section--hero {
    position: relative;

    overflow: hidden;

    @include mq-md {
        min-height: 660px;
    }
    @include mq-sm {
        min-height: 400px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(#000, 0.2);
    }


    &.-lg {
        height: 100vh;

    }
    &.-sm {
        @include mq-md {
            height: 60vh;
        }
        @include mq-sm {
            height: 50vh;
        }
    }

    &.-xs {
        height: 400px;
        min-height: 400px;
    }


    @-moz-document url-prefix() { 
        .section--hero__img {
            margin: 0;
        }
    }

    &.-theme--lander {

        * {
            position: relative;
            z-index: 2;
        }

        // @include mq-md { // ocean - stone bridge
        //     background: transparent url('https://images.unsplash.com/photo-1478562853135-c3c9e3ef7905?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=') center center no-repeat fixed;
        //     background-size: cover;
        // }
        // @include mq-md { // desert - canyons - red
        //     background: transparent url('https://images.unsplash.com/photo-1461353789837-8eb180f968d2?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=') center center no-repeat fixed;
        //     background-size: cover;
        // }
        @include mq-md { //desert at night
            background: transparent url('../img/hero_desert-at-night_gohobo_alternative-travel@2x.jpg') center center no-repeat fixed;
            background-size: cover;
        }
        @include mq-sm {
            background: transparent url('../img/hero_desert-at-night_gohobo_alternative-travel.jpg') center center no-repeat fixed;
            background-size: cover;
        }
    }

    &.-theme--map {
        color: #fff;

        @include mq-md {
            background: transparent url('../img/hero-map@2x.jpg') center center no-repeat;
            background-size: cover;
        }
        @include mq-sm {
            background: transparent url('../img/hero-map.jpg') center center no-repeat;
            background-size: cover;
        }

    }

    &.-theme--vanageddon {
        color: #fff;

        @include mq-md {
            background: transparent url('../img/vanageddon-podcast_dawn-armfield@2x.jpg') center center no-repeat;
            background-size: cover;
        }
        @include mq-sm {
            background: transparent url('../img/vanageddon-podcast_dawn-armfield.jpg') center center no-repeat;
            background-size: cover;
        }

    }
}

    
    .section--hero__img {
        z-index: -1;

        // flex-basis: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;

        @include mq-md {
            max-width: none;
            position: fixed;

            @include all-align;
        }
        @include mq-sm {
            position: absolute;
        }
    }


    .hero--content {
        position: relative;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);

        text-align: center;

        @include mq-md {

        }
        @include mq-sm {
            margin-top: 2em;
        }

        button {
            @include mq-md {
                margin-top: 2em;
            }
            @include mq-sm {
                position: absolute;
                margin-top: 3em;
            }
        }
    }

    .hero--title {
        position: relative;
        z-index: 2;

        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

        max-width: 95%;
        color: #fff;
        text-align: center;

        @include mq-xl {
            font-size: 5em;
        }
        @include mq-md {
            font-size: 3em;
        }
        @include mq-sm {
            font-size: 2em;
            margin-top: 0;
            margin-bottom: 0;
        }

        @include mq(400px) {
            font-size: 2em;
        }

    }

    .hero--copy {
        font-family: $font-copy;
        color: #fff;

        position: relative;
        z-index: 2;

        margin-left: auto;
        margin-right: auto;
        max-width: 40em;

        @include mq-md {
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include mq-sm {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 2em;
            padding-bottom: 1em;
        }
    }

.section  {
    min-height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    @include mq-md {
        min-height: 40em;
        min-height: 100vh;
    }
    @include mq-sm {

    }

}