.section--hero {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    overflow: hidden;

    @include mq-md {
        min-height: 660px;
        // pull up under the header
    }
    @include mq-sm {
        min-height: 400px;
    }

    &.-lg {
        height: 100vh;
    }
    &.-sm {
        @include mq-md {
            height: 60vh;
        }
        @include mq-sm {
            height: 50vh;
        }
    }


    @-moz-document url-prefix() { 
        .section--hero__img {
            margin: 0;
        }
    }

    &.-theme--stars {

        @include mq-md {
            background:transparent url('../img/hero-sky@2x.jpg') center center no-repeat fixed;
            background-size: cover;
        }
        @include mq-sm {
            background:transparent url('../img/hero-sky.jpg') center center no-repeat fixed;
            background-size: cover;
        }
    }

    &.-theme--journal {

        @include mq-md {
            //background:transparent url('../img/hero-bg-gohobo@2x.jpg') center center no-repeat;
            background: transparent url('https://source.unsplash.com/collection/148531/1200x800') center center no-repeat fixed;
            background-size: cover;
        }
        @include mq-sm {
            //background:transparent url('../img/hero-bg-gohobo.jpg') center center no-repeat;
            background: transparent url('https://source.unsplash.com/collection/148531/700x500') center center no-repeat fixed;
            background-size: cover;
        }

        &::after {
            content: '';

            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(#fff, 0), #fff);
        }
    }

    &.-theme--vanageddon {
        color: #fff;

        @include mq-md {
            background: transparent url('../img/vanageddon-podcast_dawn-armfield@2x.jpg') center center no-repeat;
            background-size: cover;
        }
        @include mq-sm {
            background: transparent url('../img/vanageddon-podcast_dawn-armfield.jpg') center center no-repeat;
            background-size: cover;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: rgba(#000,0.5);
        }
    }
}

    
    .section--hero__img {
        z-index: -1;

        // flex-basis: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;

        @include mq-md {
            max-width: none;
            position: fixed;

            @include all-align;
        }
        @include mq-sm {
            position: relative;
        }
    }

    .section--hero__tagline {

        max-width: 520px;

        color: #fff;
        text-align: center;

        @include mq-sm {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
        .section--hero__tagline h1 {
            margin-top: 0;
        }

        .section--hero__tagline h3 {
            font-family: $font-copy;
            text-align: left; 

            @include mq-sm {
                font-size: 1em;
            }

        }

        main.about .section--hero__tagline h3 {
            display: none;
        }

    .hero--title {
        text-align: center;
        max-width: 90%;
        position: relative;
        z-index: 2;

        @include mq-xl {
            font-size: 8em;
        }
        @include mq-md {
            font-size: 6em;
        }
        @include mq-sm {
            font-size: 3.8em;
        }
    }

.section  {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    @include mq-md {
        min-height: 40em;
    }

}