.section--hero {
    position: relative;

    overflow: hidden;

    @include mq-md {
        min-height: 660px;
    }
    @include mq-sm {
        min-height: 400px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(#000, 0.2);
    }


    &.-lg {
        height: 100vh;

    }
    &.-sm {
        @include mq-md {
            height: 60vh;
        }
        @include mq-sm {
            height: 50vh;
        }
    }


    @-moz-document url-prefix() { 
        .section--hero__img {
            margin: 0;
        }
    }

    &.-theme--stars {

        * {
            position: relative;
            z-index: 2;
        }

        @include mq-md {
            background: transparent url('../img/hero-sky@2x.jpg') center center no-repeat fixed;
            background-size: cover;
        }
        @include mq-sm {
            background:transparent url('../img/hero-sky.jpg') center center no-repeat fixed;
            background-size: cover;
        }
    }

    &.-theme--map {

        @include mq-md {
            //background:transparent url('../img/hero-bg-gohobo@2x.jpg') center center no-repeat;
            background: transparent url('../img/hero-map@2x.jpg') center center no-repeat fixed;
            background-size: cover;
        }
        @include mq-sm {
            //background:transparent url('../img/hero-bg-gohobo.jpg') center center no-repeat;
            background: transparent url('../img/hero-map.jpg') center center no-repeat fixed;
            background-size: cover;
        }

    }

    &.-theme--journal {

        @include mq-md {
            //background:transparent url('../img/hero-bg-gohobo@2x.jpg') center center no-repeat;
            background: transparent url('https://source.unsplash.com/collection/148531/1200x800') center center no-repeat fixed;
            background-size: cover;
        }
        @include mq-sm {
            //background:transparent url('../img/hero-bg-gohobo.jpg') center center no-repeat;
            background: transparent url('https://source.unsplash.com/collection/148531/500x500') center center no-repeat fixed;
            background-size: cover;
        }

    }

    &.-theme--vanageddon {
        color: #fff;

        @include mq-md {
            background: transparent url('../img/vanageddon-podcast_dawn-armfield@2x.jpg') center center no-repeat;
            background-size: cover;
        }
        @include mq-sm {
            background: transparent url('../img/vanageddon-podcast_dawn-armfield.jpg') center center no-repeat;
            background-size: cover;
        }

    }
}

    
    .section--hero__img {
        z-index: -1;

        // flex-basis: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;

        @include mq-md {
            max-width: none;
            position: fixed;

            @include all-align;
        }
        @include mq-sm {
            position: absolute;
        }
    }


    .hero--content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        text-align: center;

        @include mq-sm {
            button {
                margin-top: 2em;
            }
        }
    }

    .hero--title {
    
        position: relative;
        z-index: 2;

        margin-left: auto;
        margin-right: auto;

        max-width: 12em;
        color: #fff;
        text-align: center;

        @include mq-xl {
            font-size: 8em;
        }
        @include mq-md {
            font-size: 5em;
        }
        @include mq-sm {
            font-size: 3em;
            margin-top: 0;
            margin-bottom: 0;
        }

        @include mq(400px) {
            font-size: 2.5em;
        }

    }

.section  {
    min-height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    @include mq-md {
        min-height: 40em;
        min-height: 100vh;
    }
    @include mq-sm {

    }

}