.lander-section {
    display: flex;
    flex-flow: row wrap;

    border: 0.05em solid #fff;

    max-width: $breakpoint-xl;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;

    &:last-of-type {
        margin-bottom: 5em;
    }

    @include mq-xl {
        margin-left: auto;
        margin-right: auto;
    }
}

.lander-section--row {
    position: relative;
    overflow: hidden;

    text-align: center;

    border: 0.15em solid #fff;

    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;

    transition: 0.25s;

    @include clearfix;

    @include mq-md {
        min-width: 300px;
        flex-basis: 50%;
        min-height: 28em;
    }
    @include mq-sm {
        min-height: 100vh;
        width: 100%;
    }
}

    .lander-section--heading {
        border: 1px solid $color-gray-light;
        background-image: url(../img/bg-topo.png);

        text-align: center;

        @include mq(1098px) {
            flex-grow: 1;
        }
        @include mq-md {
            width: 438px;
            height: 448px;
        }
        @include mq-sm {
            height: 25vh;
            width: 100%;
        }

        h2 {
            display: inline-block;
            border-bottom: 0.15em solid $color-pink-hot;

            width: auto;

            margin-top: -0.25em;
            padding-bottom: 0.25em;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .lander-section--heading__full {
        border: 1px solid $color-gray-light;
        background-image: url(../img/bg-topo.png);

        flex: 0 1 auto;

        width: 100%;

        text-align: center;

        @include mq-md {
            height: 248px;
        }
        @include mq-sm {
            height: 25vh;
        }

        h2 {
            display: inline-block;
            border-bottom: 0.15em solid $color-pink-hot;

            width: auto;

            margin-top: -0.25em;
            padding-bottom: 0.25em;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .lander-section--item {

        position: relative;
        overflow: hidden;

        text-align: center;

        border: 0.15em solid #fff;

        @include mq-min(1000px) {
            max-height: 14em;
            width: (100% / 4);
        }
        @include mq-between(760px, 1000px) {
            width: (100% / 3);
            max-height: 14em;
        }
        @include mq-sm {
            height: 20vh;
            width: 50%;
        }

        transition: 0.25s;

        &:hover {
            transform: scale(1.05);
        }
    }

        .lander-section--item__img {
            display: block;

            position: relative;
            top: 50%;
            transform: translateY(-50%);

            img {
                position: relative;
                transition: 0.2s;

                @include mq-md {
                    max-width: 90%;
                    padding: 1em;
                }
                @include mq-sm {

                }
            }
        }

        .lander-section--item__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: rgba(#fff, 0.85);
            
            // hidden state
            transition: 0.2s;
            opacity: 0;

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                white-space: nowrap;
                font-size: 0.85em;
            }
        }

        // Hover state
        .lander-section--item:hover {

            img {
                transform: scale(1.1);
            }   
            .lander-section--item__overlay {
                opacity: 1;
            } 
    
        }

        .lander-section--item__logo {
            display: block;

            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center center;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }