.lander-section {
    display: flex;
    flex-flow: row wrap;

    border: 0.05em solid #fff;

    max-width: $breakpoint-xl;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;

    overflow: hidden;

    &:last-of-type {
        padding-bottom: 5em;
    }

    @include mq-xl {
        margin-left: auto;
        margin-right: auto;
    }
}

.lander-section--row {
    position: relative;
    overflow: hidden;

    text-align: center;

    border: 0.15em solid #fff;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    transition: 0.25s;

    @include clearfix;

    @include mq-md {
        min-width: 300px;
        min-height: 28em;
    }
    @include mq-sm {
        min-height: 100vh;
        width: 100%;
    }
}

    .lander-section--heading {
        border: 1px solid $color-gray-light;
        background-image: url(../img/bg-topo.png);

        text-align: center;

        @include mq(1098px) {
            flex-grow: 1;
        }
        @include mq-md {
            width: 438px;
            height: 448px;
        }
        @include mq-sm {
            height: 200px;
            width: 100%;
        }

        h2 {
            display: inline-block;
            border-bottom: 0.15em solid $color-pink-hot;

            width: auto;

            margin-top: -0.25em;
            padding-bottom: 0.25em;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .lander-section--heading__full {
        border: 1px solid $color-gray-light;
        background-image: url(../img/bg-topo.png);

        flex: 0 1 auto;

        width: 100%;

        text-align: center;

        @include mq-md {
            height: 248px;
        }
        @include mq-sm {
            height: 200px;
        }

        h2 {
            display: inline-block;
            border-bottom: 0.15em solid $color-pink-hot;

            width: auto;

            margin-top: -0.25em;
            padding-bottom: 0.25em;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .lander-section--item {

        position: relative;
        overflow: hidden;

        padding-left: 1.5em;
        padding-right: 1.5em;

        margin-bottom: 2em;

        text-align: center;

        border: 0.15em solid #fff;
        background-color: #fff;

        @include mq-min(1000px) {
            width: (100% / 3);
        }
        @include mq-between(590px, 1000px) {
            width: 50%;
        }
        @include mq(590px) {
            width: 100%;
        }
    }

        // Hover state
        .lander-section--item:hover {

            .lander-section--item__logo {
                transform: scale(1.1);
            }   

        }


        .lander-section--item__desc {
            font-size: $font-size-sm;
        }

        .lander-section--item__logo {
            display: block;

            height: 10em;
            width: 100%;
            max-width: 20em;

            margin-left: auto;
            margin-right: auto;

            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center center;

            transition: transform 0.1s ease-in;

            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
        }