RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

ErrorDocument 404 /404.html

Header add Access-Control-Allow-Origin "https://gohobo.co"

ExpiresActive On
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 weeks"

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

Redirect 301 /gohobo-apparel/ https://gohobo.co/

Redirect 301 /live-free-embrace-vanlife/ https://gohobo.co/journal/live-free-embrace-vanlife/
Redirect 301 /ridesharing-for-beginners/ https://gohobo.co/journal/ridesharing-for-beginners/
Redirect 301 /places-to-visit-in-canada-southwestern-bc-coast/ https://gohobo.co/journal/places-to-visit-in-canada-southwestern-bc-coast/
Redirect 301 /places-to-visit-canada-vancouver/ https://gohobo.co/journal/places-to-visit-canada-vancouver/
Redirect 301 /prescription-for-the-restless/ https://gohobo.co/journal/prescription-for-the-restless/
Redirect 301 /5-things-i-learned-about-van-life/ https://gohobo.co/journal/5-things-i-learned-about-van-life/

Options -Indexes