---
pagename: about
layout: default
hero: "hero-bg-gohobo@2x.jpg"
title: GoHobo | About | How it works, alternative travel network
---

<!DOCTYPE html>

<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

    <section class="section--hero -md -theme--map" id="header">

        <h1 class="hero--title hero--content">
            Going Hobo
        </h1>

    </section>
    
    {% include _about.intro.html %}

    {% include _about.location.html %}

    {% include _about.theme.html %}

    {% include _about.budget.html %}

    <!-- Schema LDJSON -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "http://schema.org/Organization",
        "name": "GoHobo",
        "url": "http://gohobo.co",
        "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
        "sameAs" : [
            "https://www.facebook.com/Go-Hobo-649912611816927",
            "http://www.twitter.com/gohoboco",
            "https://www.instagram.com/gohobo.co"
        ]
      }
    </script>

</body>
</html>