---
pagename: about
layout: default
hero: "hero-bg-gohobo@2x.jpg"
title: GoHobo | Alternative travel network & adventure publication.
---


    <section class="section--hero -sm -theme--map">
        <h1 class="hero--title hero--content">
            Going Hobo
        </h1>
    </section>
    
    {% include _about.intro.html %}

    {% include _about.location.html %}

    {% include _about.theme.html %}

    {% include _about.budget.html %}

    {% include _widget.mailbox.html %}

    <!-- Schema LDJSON -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "http://schema.org/Organization",
        "name": "GoHobo",
        "url": "http://gohobo.co",
        "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
        "sameAs" : [
            "https://www.facebook.com/Go-Hobo-649912611816927",
            "http://www.twitter.com/gohoboco",
            "https://www.instagram.com/gohobo.co"
        ]
      }
    </script>
