---
layout: default
title: GoHobo | Adventure Directory | Adventure resources for regular people
---

<!-- DIRECTORY -->

<section class="section--hero -lg -theme--journal">
    <h1 class="hero--title">
      Adventure Directory
    </h1>
</section>

<section class="section--content">
  
  <nav class="dir--nav">
    
    <label class="dir--nav__label">
      Filter by:
    </label>
    
    <!-- tags for sorting go here here-->
    <!-- <h2 class="dir--nav__item theme--transportation" data-sort-by="transportation">transportation</h2>
    <h2 class="dir--nav__item theme--accommodation" data-sort-by="accommodation">accommodation</h2>
    <h2 class="dir--nav__item theme--work-exchange" data-sort-by="work-exchange">work-exchange</h2> -->

  </nav>

  <ul class="dir--list">

    {% assign sortedResources = site.data.resources | sort: 'name' %}
    {% for resource in sortedResources %}

      <li class="dir--item {{ resource.cat }}" data-item-tags="{{ resource.cat }}" id="{{ resource.name | slugify }}">

        <figure class="dir--item__logo">
          <img src="{{ resource.logo }}" alt="{{ resource.name }}" title="{{ resource.name }}">
        </figure>

        <p class="dir--item__desc">
           {{ resource.desc  | truncate: 156 }}
        </p>
        
        <div class="dir--item__meta-bar">

          <div class="item--meta__subcat">
            <img src="{{ site.image_assets }}/icons/{{ resource.subcat }}.png" alt="{{ resource.subcat }}">
          </div>

          <div class="item--meta__budget tooltip--trigger">

            {% if resource.budget == 0 %}
              <span>$$$</span> 
              <div class="tooltip">
                No cost
              </div>
            {% endif %}
            {% if resource.budget == 1 %}
              $<span>$$</span>  
              <div class="tooltip">
                Small fee
              </div>  
            {% endif %}
            {% if resource.budget == 1.5 %}
              $<span>$$</span>  
              <div class="tooltip">
                Small annual fee
              </div>  
            {% endif %}
            {% if resource.budget == 2 %}
              $$<span>$</span>
              <div class="tooltip">
                Less than $500
              </div>  
            {% endif %}
            {% if resource.budget == 3 %}
              $$$ 
              <div class="tooltip">
                More than $500
              </div> 
            {% endif %}

          </div>

          <small class="item--meta__region" title="This property is available in {{ resource.region }}">
             {{ resource.region }}
          </small> 

        </div> 

        <a href="{{ resource.link }}"> 
          <button class="dir--item__action theme--{{ resource.cat }}" type="button">
            {% if resource.cta %}
              {{ resource.cta }}
            {% else %}
              Check it out
            {% endif %}
          </button>
        </a>

      </li>

    {% endfor %}

  </ul>

</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "GoHobo",
    "url": "http://gohobo.co",
    "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
    "sameAs" : [
        "https://www.facebook.com/Go-Hobo-649912611816927",
        "http://www.twitter.com/gohoboco",
        "https://www.instagram.com/gohobo.co"
    ]
  }
</script>
