---
layout: default
title: GoHobo | Adventure Directory | Adventure resources for regular people
desc: "A compendium of alternative transportation, accommodation and hospitality travel resources for every adventurer's budget. Wander smarter."
---

<!-- DIRECTORY -->

<section class="section--hero -sm -theme--journal">
    <h1 class="hero--title hero--content">
      Adventure Directory
    </h1>
</section>

<section class="bg--topo">
  
  <nav class="dir--nav">
    
    <label class="dir--nav__label">
      Filter by:
    </label>
    
    <!-- tags for sorting go here here-->
    <!-- <h2 class="dir--nav__item theme--transportation" data-sort-by="transportation">transportation</h2>
    <h2 class="dir--nav__item theme--accommodation" data-sort-by="accommodation">accommodation</h2>
    <h2 class="dir--nav__item theme--skills-exchange" data-sort-by="skills-exchange">skills-exchange</h2> -->

  </nav>

  <ul class="dir--list">

    <section class="dir--column">

    {% assign sortedResources = site.data.resources | sort: 'name' %}
    {% assign totalItems = sortedResources.size | divided_by:2 %}

    {% for resource in sortedResources | limit: totalItems %}

      <li class="dir--card" data-item-tags="{{ resource.cat }}" id="{{ resource.name | slugify }}">
        
        <section class="card--panel__info">
      
          <h3 class="card--title">
            {{ resource.name }}  
          </h3>

          <label class="card--meta">
            {% if resource.budget == 0 %}
            No cost
            {% elsif resource.budget == 1 %}
            Small transactions
            {% elsif resource.budget == 1.5 %}
            Membership fee
            {% elsif resource.budget == 2 %}
            Less than $500
            {% elsif resource.budget == 3 %}
            Over $500
            {% endif %}
          </label>

          <p class="card--desc">
            {{ resource.desc  | truncate: 200 }}
          </p>

          <div class="card--categories -theme--{{ resource.cat }}">
            <article class="card--categories__cat">
              {{ resource.cat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.subcat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.region }}
            </article>
          </div>

        </section>

        <section class="card--panel__slideout">

          <figure class="card--logo" style="background-image:url('{{ resource.logo }}');">
          </figure>

          <a href="{{ resource.link }}/?utm_source=gohobo&utm_medium=adventuredirectory&utm_campaign=gohobo" title="{{resource.name}}" alt="{{ resource.name }}">
            <button class="card--action theme--{{ resource.cat }}" type="button"">
              {{ resource.cta }}
            </button>
          </a>

        </section>

      </li>   

    {% endfor %} 
    </section>

    <section class="dir--column">
    {% for resource in sortedResources | limit: totalItems, offset: totalItems %}

      <li class="dir--card" data-item-tags="{{ resource.cat }}" id="{{ resource.name | slugify }}">
        
        <section class="card--panel__info">
      
          <h3 class="card--title">
            {{ resource.name }}  
          </h3>

          <label class="card--meta">
            {% if resource.budget == 0 %}
            No cost
            {% elsif resource.budget == 1 %}
            Small transactions
            {% elsif resource.budget == 1.5 %}
            Membership fee
            {% elsif resource.budget == 2 %}
            Less than $500
            {% elsif resource.budget == 3 %}
            Over $500
            {% endif %}
          </label>

          <p class="card--desc">
            {{ resource.desc  | truncate: 200 }}
          </p>

          <div class="card--categories -theme--{{ resource.cat }}">
            <article class="card--categories__cat">
              {{ resource.cat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.subcat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.region }}
            </article>
          </div>

        </section>

        <section class="card--panel__slideout">

          <figure class="card--logo" style="background-image:url('{{ resource.logo }}');">
          </figure>

          <a href="{{ resource.link }}/?utm_source=gohobo&utm_medium=adventuredirectory&utm_campaign=gohobo" title="{{resource.name}}" alt="{{ resource.name }}">
            <button class="card--action theme--{{ resource.cat }}" type="button"">
              {{ resource.cta }}
            </button>
          </a>

        </section>

      </li>   

    {% endfor %} 

    </section>

  </ul>

</section>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "GoHobo",
    "url": "http://gohobo.co",
    "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
    "sameAs" : [
        "https://www.facebook.com/Go-Hobo-649912611816927",
        "http://www.twitter.com/gohoboco",
        "https://www.instagram.com/gohobo.co"
    ]
  }
</script>
