---
layout: default
headertheme: -theme--light
title: GoHobo Adventure Directory | Alternative travel resources.
desc: "A collection of vetted alternative travel resources for travellers, adventurers, digital nomads, vandwellers & explorers. Adventures for everyone."
---

<section class="dir--container -header--space">
  
  <nav class="dir--nav">
    
    <label class="dir--nav__label">
      Filter by:
    </label>

  </nav>

  <ul class="dir--list">

    <section class="dir--column">

    {% assign sortedResources = site.data.resources | sort: 'name' %}
    {% assign totalItems = sortedResources.size | divided_by:2 %}

    {% for resource in sortedResources | limit: totalItems %}

      <li class="dir--card" data-item-tags="{{ resource.cat }}" id="{{ resource.name | slugify }}">
        
        <section class="card--panel__info">
      
          <h3 class="card--title">
            {{ resource.name }}  
          </h3>

          <label class="card--meta">
            {% if resource.budget == 0 %}
            No cost
            {% elsif resource.budget == 1 %}
            Small transactions
            {% elsif resource.budget == 1.5 %}
            Membership fee
            {% elsif resource.budget == 2 %}
            Less than $500
            {% elsif resource.budget == 3 %}
            Over $500
            {% endif %}
          </label>

          <p class="card--desc">
            {{ resource.desc  | truncate: 200 }}
          </p>

          <div class="card--categories -theme--{{ resource.cat }}">
            <article class="card--categories__cat">
              {{ resource.cat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.subcat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.region }}
            </article>
          </div>

        </section>

        <section class="card--panel__slideout">

          <figure class="card--logo">
            <img src="{{ resource.logo }}" alt="{{ resource.name }} logo" title="{{ resource.name }}">
          </figure>

          <a href="{{ resource.link }}/?utm_source=gohobo&utm_medium=adventuredirectory&utm_campaign=gohobo" title="{{resource.name}}" alt="{{ resource.name }}">
            <button class="card--action theme--{{ resource.cat }}" type="button"">
              {{ resource.cta }}
            </button>
          </a>

          <small class="card--review-btn">
              <a href="#{{ resource.name | slugify }}" class="js-toggle-modal -review">Submit a review</a>
          </small>

        </section>

      </li>   

    {% endfor %} 
    </section>

    <section class="dir--column">
    {% for resource in sortedResources | limit: totalItems, offset: totalItems %}

      <li class="dir--card" data-item-tags="{{ resource.cat }}" id="{{ resource.name | slugify }}">
        
        <section class="card--panel__info">
      
          <h3 class="card--title">
            {{ resource.name }}  
          </h3>

          <label class="card--meta">
            {% if resource.budget == 0 %}
            No cost
            {% elsif resource.budget == 1 %}
            Small transactions
            {% elsif resource.budget == 1.5 %}
            Membership fee
            {% elsif resource.budget == 2 %}
            Less than $500
            {% elsif resource.budget == 3 %}
            Over $500
            {% endif %}
          </label>

          <p class="card--desc">
            {{ resource.desc  | truncate: 200 }}
          </p>

          <div class="card--categories -theme--{{ resource.cat }}">
            <article class="card--categories__cat">
              {{ resource.cat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.subcat }}
            </article>

            <article class="card--categories__cat">
              {{ resource.region }}
            </article>
          </div>

        </section>

        <section class="card--panel__slideout">

              <figure class="card--logo">
                <img src="{{ resource.logo }}" alt="{{ resource.name }} logo" title="{{ resource.name }}">
              </figure>

              <a href="{{ resource.link }}/?utm_source=gohobo&utm_medium=adventuredirectory&utm_campaign=gohobo" title="{{resource.name}}" alt="{{ resource.name }}">
                <button class="card--action theme--{{ resource.cat }}" type="button"">
                  {{ resource.cta }}
                </button>
              </a>
            
            <small class="card--review-btn">
                <a href="#{{ resource.name | slugify }}" class="js-toggle-modal -review">Submit a review</a>
            </small>
        
        </section>

      </li>   

    {% endfor %} 

    </section>

  </ul>

</section>

{% include _widget.mailbox.html %}
{% include _widget.modal-rating.html %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "GoHobo",
    "url": "http://gohobo.co",
    "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
    "sameAs" : [
        "https://www.facebook.com/Go-Hobo-649912611816927",
        "http://www.twitter.com/gohoboco",
        "https://www.instagram.com/gohobo.co"
    ]
  }
</script>
