---
pagename: gohobo adventure apparel
layout: default
headertheme: -theme--light
hero: "hero-glacier.jpg"
title: GoHobo Adventure Apparel | Adventure shirts, Vanlife shirts
desc: Vanlife teeshirts, explorer hoodies, vandweller shirts, adventure shirts. Stylish apparel designed by GoHobo.
postcard: apparel/gohobo-adventure-apparel_postcard.jpg
---

<img class="art--pin-img"
     src="{{ site.image_assets }}apparel/goHobo-adventure-apparel_pin.jpg"
     data-pin-url="{{page.url}}"
     data-pin-media="{{ site.image_assets }}apparel/GoHobo-adventure-apparel_pin.jpg"/>

<section class="store--wrapper">

   <section class="store--section">
       
       <h2 class="store--section__title">
           GoHobo Adventure Apparel
       </h2>

       <p class="store--section__desc" id="explore">
          Our apparel is designed for adventurous people. Our graphics are lovingly crafted in Montreal, Canada by us, and printed on American Apparel textiles. 
       </p>

       {% for product in site.data.products %}
       <a href="{{ site.url }}{{ product.url }}">
       <div class="store--item__product" itemscope itemtype="http://schema.org/Product">

           <div class="store--item__img">
               <img src="{{ product.img }}" itemprop="image" alt="Photo of {{ product.title }} - GoHobo Adventure Apparel's {{ product.category }}">
           </div>

           <div class="store--item__info">
               
                <label class="store--item__title" itemprop="name">
                   {{ product.title }}
                </label>
                <label class="store--item__meta">
                    {{ product.meta }}
                </label>
                <label class="store--item__price" data-currency="CAD" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                   <span itemprop="priceCurrency" content="CAD">$</span><span itemprop="price" content="{{ product.price }}.00">{{ product.price }}</span>
                </label>
                <label class="store--item__price" data-currency="USD" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                   <span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="{{ product.priceUSD }}.00">{{ product.priceUSD }}</span>
                </label>

           </div>

       </div>
       </a>
       {% endfor %}

   </section>

   {% include _widget.free-shipping-banner.html %}
         
</section>

<script type="text/javascript" defer>
  $.getJSON('https://freegeoip.net/json/') 
       .success (function(location){

        var country = location.country_name;

        if (country == "Canada") {
          $("[data-currency='USD']").hide();
        }
        if (country == "United States") {
          $("[data-currency='CAD']").hide();
        }

        //console.log(country);

       }).error (function(){
          $("[data-currency='CAD']").hide();
          console.log("Location denied. Currency defaulted to USD.");
       });
</script>
