---
pagename: home
---

<!DOCTYPE html>

<html lang="en">

<head>
	{% include head.html %}
</head>

<body>

	{% include header.html %}

	<main class="{{ page.pagename }}" role="main">

		{% include _svg-clip-paths.html %}

		{% include _hero.html %}

		{% include _intro.html %}

		{% include _ontheroad.html %}

		{% include _ridesharing.html %}

		{% include _camping.html %}

		{% include _housesitting.html %}

		{% include _emailcapture.html %}

	</main>
	
	{% include footer.html %}

	{% include _modal.html %}

</body>
</html>