
form {
	margin-top: 1em;
	margin-bottom: 6em;
}

.form--group__wide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	margin-left: auto;
	margin-right: auto;


	@include mq-min(430px) {
		width: 246px;
		max-width: 350px;
	}
	@include mq(430px) {
		width: 100%;
	}
}


	.form--group__wide .input + button {
		margin-top: 1.25em;
	}


// general input styling

.input {
	width: 100%;

	color: $color-dark;

	border: 1px solid $color-dark;

	@include mq-sm {
		padding: 1em 1.5em;
	}
	@include mq-md {
		padding: 0.782em 1.75em;
	}
}

.input--line {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid $color-dark;

	@include placeholder-color(#ccc);
}

p .input--line {
	background-color: rgb(248, 248, 248);
}


// the inline select boxes 
.input--select {
	border: 0;
	font-weight: 900;

}



















