/*
*  name: SlimKit
*
*
*/

//     Base    
//----------------------
@import 'base/reset',
        'base/variables',
        'base/mixins',
        'base/media-queries',
        'base/utils',
        'base/icons',
        'base/typography'
;

//     Layout  
//----------------------
@import 'layout/containers',
        'layout/spacing',
        'layout/positioning',
        'layout/footer',
        'layout/email-grab',
        'layout/hero'
;  

//     Components
//----------------------
@import 'components/type',
        'components/buttons',
        'components/social-buttons',
        'components/forms',
        'components/images',
        'components/cards'

;  

//     Modules 
//----------------------
@import 'modules/lander',
        'modules/modal',
        'modules/article',
        'modules/posts',
        'modules/directory',
        'modules/global-header',
        'modules/nav',
        'modules/podcasts',
        'modules/store'

;  

//     States  
//----------------------
@import 'states/motion'

; 

