
<section class="section theme--light" id="signup">

	<div class="section--container">
		
		<article class="card--transparent pos--middle align--center text--center">
		
			<h2>
				the adventure begins. (very soon)
			</h2>

			<img class="card--img" srcset="img/icons/mountains.png 1x, img/icons/mountains@2x.png 2x" src="img/icons/mountains.png" alt="A line drawing of snowcapped mountains.">

			<p>	
				In the meantime, enter your email below, and you'll be the first to know when we launch.
			</p>

			<form action="//gohobo.us13.list-manage.com/subscribe/post?u=5f6a30e10e891d0f4921d3148&amp;id=cdec36a9ab" method="post" name="mc-embedded-subscribe-form" target="_blank">
				<div class="form--group__wide">

					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="b_5f6a30e10e891d0f4921d3148_cdec36a9ab" tabindex="-1" value="">
					</div>

					<input class="input" type="email" placeholder="your email" name="EMAIL" required/>

					<button class="btn--cta" type="submit" name="subscribe" id="mc-embedded-subscribe">
						<div class="slide--over__container">
							<div class="slide--over">start your adventure</div>
							<div class="slide--over">you won't regret it.</div>
						</div>
					</button>
				</div>
			</form>

		</article>

	</div>

</section>