<footer class="footer" role="info">
	
	<img itemprop="logo" width="120" srcset="img/gohobo-logo.png 1x, img/gohobo-logo@2x.png 2x" src="img/gohobo-logo.png" alt="GoHobo Logo, a handwritten typeface">
	
	<a class="email" itemprop="email" href="mailto:gohoboco@gmail.com">
		gohoboco@gmail.com
	</a>
	<div class="social--set">
		<a href="https://twitter.com/goHoboCo" class="twitter-follow-button" data-show-count="false">Follow @goHoboCo</a>
		<div
		  class="fb-like"
		  data-share="false"
		  data-width="49"
		  data-show-faces="false">
		</div>
	</div>

	<small>
		&copy; 2016 GoHobo Co., an alternative travel network
	</small>

</footer>
