<section class="section theme--light">

	<div class="section--container">

		<div class="icon--camera__left">
			<img srcset="img/icon-camera.png 1x, img/icon-camera@2x.png 2x" 
				 width="23"
				 src="img/icon-camera.png" 
				 title="Toggle photograph info"
				 alt="A camera icon which toggles the photograph's author">	 
			<label class="info--banner">
				Photo by: <a href="https://unsplash.com/zac_staines">Zach Staines</a>
			</label>
		</div>
	
		<article class="card--light pos--l">

			<h2>ridesharing</h2>
			<p>
				With strong communities built around it, <a href="https://en.wikipedia.org/wiki/Real-time_ridesharing" target="_blank">ridesharing</a> is more popular than ever, and is becoming infinitely easier for you to take advantage of. 
			</p>
			<button class="btn--context__dark js-toggle-modal" type="button">
				<span class="btn--text">
					find a ride
				</span>
				<div class="btn--fill"></div>
			</button>

		</article>
	
	</div>
</section>