<!DOCTYPE html>

<html lang="en">

<head>
	<title>Go Hobo | Adventures for regular people.</title>

	<!--(bake _head.html)-->

	<!-- Open Graph Markup for Social Sharing -->
	<meta property="og:title"       content="Go Hobo" />
	<meta property="og:type"        content="website" />
	<meta property="og:url"         content="http://gohobo.co" />
	<meta property="og:image"       content="img/gohobo-logo@2x.png" />
	<meta property="og:site_name"   content="GoHobo.co" />
	<meta property="og:description" content="An alternative adventure travel network, bringing together the best of budget-friendly transportation, accommodation and high quality life experiences." />

	
	<!-- Options -->

</head>

<body>

	<main role="main" itemscope itemtype="http://schema.org/Organization">

		<!--(bake _svg-clip-paths.html)-->

		<!--(bake _header.html)-->

		<!--(bake _intro.html)-->

		<!--(bake _ontheroad.html)-->

		<!--(bake _ridesharing.html)-->

		<!--(bake _camping.html)-->

		<!--(bake _housesitting.html)-->

		<!--(bake _emailcapture.html)-->

		<!--(bake _footer.html)-->

		<!--(bake _modal.html)-->

	</main>

	<!-- Scripts -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/modernizr.custom.min.js"></script>


</body>
</html>