---
layout: default
---

<section class="section--hero -sm" 
		 style="background:url('{{ site.image_assets }}{{ page.hero }}')no-repeat center center;background-size:cover;">
		
		{% if page.image-author %}
		<div class="icon--camera__bottom">
			<img srcset="{{ site.image_assets }}/icon-camera.png 1x, {{ site.image_assets }}/icon-camera@2x.png 2x" 
				 width="23"
				 src="assets/img/icon-camera.png" 
				 title="Toggle photograph info"
				 alt="A camera icon which toggles the photograph's author">
			<label class="info--banner">
				Photo by: <a href="{{ page.image-author-link }}" target="_blank">{{ page.image-author }}</a>
			</label>	 
		</div>
		{% endif %}
</section>

<article class="art--container" itemscope itemtype="http://schema.org/BlogPosting">

	<h6 class="art--meta">
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.date | date: "%d • %m • %y" }}
		</time>
	</h6>
	<h1 class="art--title" itemprop="name headline">
		{{ page.title }}
	</h1>

	<div class="art--content" itemprop="articleBody">
		{{ content }}
	</div>

	<div class="art--footer">

		<h6>Share the <span style="color:#F06E61">♥</span></h6>
		<a href="https://twitter.com/share" 
		   class="twitter-share-button" 
		   data-via="goHoboCo"
		   data-text="{{ page.title }}">
		   Tweet
		</a>
		<div class="fb-share-button" 
			data-href="http://gohobo.co{{ page.url }}" 
			data-layout="button">
		</div>
		<a href="http://bufferapp.com/add" 
		   class="buffer-add-button" 
		   data-count="none">
		   Buffer
		</a>
		<script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>

	</div>

	{% if page.author %}
		<h6 itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">
				{{ page.author }}
			</span>
		</h6>
	{% endif %}



</article>
