---
layout: default
---

<section class="section--hero -sm">
		
		<img class="section--hero__img"
			 src="{{ site.image_assets }}{{ page.hero }}"
			 srcset="{{ site.image_assets }}{{ page.hero }} 1x, {{ site.image_assets }}{{ page.hero | replace: '.jpg', '@2x.jpg' }} 2x"
			 alt="">
		
		{% if page.image-author %}
		<div class="icon--camera__bottom">
			<img srcset="{{ site.image_assets }}/icon-camera.png 1x, {{ site.image_assets }}/icon-camera@2x.png 2x" 
				 width="23"
				 src="assets/img/icon-camera.png" 
				 title="Toggle photograph info"
				 alt="A camera icon which toggles the photograph's author">
			<label class="info--banner">
				Photo by: <a href="{{ page.image-author-link }}" target="_blank">{{ page.image-author }}</a>
			</label>	 
		</div>
		{% endif %}
</section>

<article class="art--container">

	<h6 class="art--meta">
		<time datetime="{{ page.date | date_to_xmlschema }}">
			{{ page.date | date: "%B %-d, %Y" }}
		</time>
	</h6>
	<h1 class="art--title">
		{{ page.title }}
	</h1>

	<div class="art--content">
		{{ content }}
	</div>

	<div class="art--footer">

		<h6>Share the <span style="color:#F06E61">♥</span></h6>
		<a href="https://twitter.com/share" 
		   class="twitter-share-button" 
		   data-via="goHoboCo"
		   data-text="{{ page.title }}">
		   Tweet
		</a>
		<div class="fb-share-button" 
			data-href="http://gohobo.co{{ page.url }}" 
			data-layout="button">
		</div>
		<a href="http://bufferapp.com/add" 
		   class="buffer-add-button" 
		   data-count="none">
		   Buffer
		</a>
		<script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>

		<a data-pin-do="buttonPin" 
		   data-pin-color="white" 
		   data-pin-tall="true" 
		   href="https://www.pinterest.com/pin/create/button/?url=http://gohobo.co{{ page.url }}&media=http://gohobo.co{{ site.image_assets }}{{ page.hero }}&description={% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		   <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" />
		</a>

	</div>

	{% if page.author %}
	<!-- 	<h6 itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">
				{{ page.author }}
			</span>
		</h6> -->
	{% endif %}


</article>

<!-- Schema LDJSON -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "http://schema.org/CreativeWork/Article",
    "name": "{{ page.title }}",
    "url": "http://gohobo.com{{ page.url }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "headline": "{{ page.title }}",
    "image": "http://gohobo.co{{ site.image_assets }}{{ page.hero }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "mainEntityOfPage": "{{ page.tags.first }}",
    "keywords": "{{ page.tags | join: ', '}}",
    "publisher": {
    	"@type": "http://schema.org/Organization",
    	"name": "GoHobo.co",
    	"logo": "http://www.gohobo.co/assets/img/gohobo-logo.png"
    },
    "author": {% if page.author %}"{{page.author}}"{% endif %}

  }
</script>
