---
layout: default
headertheme: "dark"
---

<section class="section--hero -sm" 
		 style="background:url('{{ site.blog_image_assets }}{{ page.hero }}')no-repeat center center;background-size:cover;">

</section>

<article class="art--container" itemscope itemtype="http://schema.org/BlogPosting">

	<h6 class="art--meta">
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.date | date: "%d • %m • %y" }}
		</time>
	</h6>
	<h1 class="art--title" itemprop="name headline">
		{{ page.title }}
	</h1>

	<div class="art--content" itemprop="articleBody">
		{{ content }}
	</div>

	{% if page.author %}
		<h6 itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">
				{{ page.author }}
			</span>
		</h6>
	{% endif %}



</article>
