
button {
	background-color:transparent;
	border: none;
	display: inline-block;

	outline: 0;

	font-family: $font-bold;
}


.btn--cta {
	background-image: $color-cta-grad;
	text-align: center;
	color: #fff;

	border-radius: 0.2em;
	
	overflow: hidden;

	transition: 0.1s;

	&:hover {
		background-size: 175%;
	}

	@include mq-sm {
		padding: 0.6em 2em;
	}
	@include mq-md {
		padding: 0.5em 2em;
	}

	&__blue {
		background: $color-blue-grad;
		text-align: center;
		color: #fff;

		border-radius: 0.2em;

		overflow: hidden;

		transition: 0.1s;

		@include mq-sm {
			padding: 0.6em 2em;
		}
		@include mq-md {
			padding: 0.5em 2em;
		}

		&:hover {
			background-size: 175%;
		}
	}

}

.btn--input {
	border: none;
	
    background-image: $color-cta-grad;
    text-align: center;
    color: #fff;

    width: 180px;

    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;

    &:hover {
    	background-size: 175%;
    }
}

.btn--line__white {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 0.5em 2em;

	background-color: rgba(#000, 0.12);

	transition: 0.05s;

	&:hover {
		background-color: rgba(#000, 0.35);
	}
}

.btn--line__dark {
	color: $color-dark;
	border: 2px solid $color-dark;
	border-radius: 3px;
	padding: 0.5em 2em;

	transition: 0.05s;

	&:hover {
		background-color: rgba(#000, 0.35);
	}
}

.btn--standard__dark {
	color: #fff;
	border-radius: 3px;

	padding: 0.75em 2em;
	margin-top: 1em;

	background-color: $color-dark;

	transition: 0.05s;

	&:hover,
	&:focus {
		background-color: $color-gray;
	}
	&:active {
		background-color: $color-dark;
	}
}











