
.form--group__wide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	margin-left: auto;
	margin-right: auto;

	@include mq-min(430px) {
		width: 246px;
		max-width: 350px;
	}
	@include mq(430px) {
		width: 100%;
	}
}


	.form--group__wide .input + button {
		margin-top: 1.25em;
	}

.form--group__row {
    display: flex;
    flex-flow: row nowrap;
}


// general input styling

.input--group {
	margin-bottom: 1em;
}

.input--label {
	display: block;
	margin-bottom: 0.25em;

	font-size: 0.85em;
	color: $color-gray;
}

.input--group__heading {
	font-family: $font-heading;	
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

.input,
.input--textarea {
	width: 100%;

	color: $color-dark;

	border: 1px solid $color-gray;
	border-radius: 3px;

    &:focus {
		border-color: $color-cta;
    }

	@include mq-sm {
		padding: 1em;
	}
	@include mq-md {
		padding: 0.75em 1em;
	}

	& + .input--textarea {
		margin-top: 1em;
		margin-bottom: 1em;
	}

}

// Select Box ----

// wraps a select element
.input--select {
    position: relative;

    &:after {
        content: '\25be';
        
        position: absolute;
        top: 0.1em;
        right: 0.65em;

        font-size: 2em;

        z-index: 1;
    }

    select {
        z-index: 2;
        position: relative;
    }
}    
