
.form--group__wide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	margin-left: auto;
	margin-right: auto;


	@include mq-min(430px) {
		width: 246px;
		max-width: 350px;
	}
	@include mq(430px) {
		width: 100%;
	}
}


	.form--group__wide .input + button {
		margin-top: 1.25em;
	}

.form--group__row {
    display: flex;
    flex-flow: row nowrap;
}


// general input styling

.input,
.input--textarea {
	width: 100%;

	color: $color-dark;

	border: 1px solid $color-gray;

    &:focus {
		border-color: #ccc;
    }

	@include mq-sm {
		padding: 1em 1.5em;
	}
	@include mq-md {
		padding: 0.782em 1.75em;
	}

	& + .input--textarea {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
