
img {
	max-width: 100%;
}



// the camera icon

.icon--camera {

	&__left {
		top: 2.5em;
		left: 2em;
		position: absolute;

		display: flex;
		align-items: center;
		flex-wrap: nowrap;

		cursor: pointer;

		img {
			width: 1.6em;
			opacity: 0.6;
			transition: 0.4s;

			&:hover {
				opacity: 1;
			}
		}

	}

	&__bottom {
		bottom: 2.5em;
		position: absolute;

		@include mq-md {
			left: 4em;
		}
		@include mq-sm {
			left: 2em;
		}

		display: flex;
		align-items: center;
		flex-wrap: nowrap;

		cursor: pointer;

		img {
			width: 1.6em;
			opacity: 0.6;
			transition: 0.4s;

			&:hover {
				opacity: 1;
			}
		}

	}

}

	.info--banner {
		width: auto;
		padding: 0.25em 1em;
		background-color: $color-dark;
		border-radius: 0.2em;
		
		color: #fff;
		font-size: 0.8em;
		white-space: nowrap;

		transition: 0.2s ease-in;
		opacity: 0;

		a {
			text-decoration: underline;
		}
	}


	.icon--camera__right {

		&:hover .info--banner {
			opacity: 1;
			margin-right: 1em;
		}
	}	

	.icon--camera__left {

		&:hover .info--banner {
			opacity: 1;
			margin-left: 1em;
		}
	}	

	.icon--camera__bottom {

		&:hover .info--banner {
			opacity: 1;
			margin-left: 1em;
		}
	}	





