  // -----------------------------
 //       Typographic Styles
// ---------------------------------

// Headings
// ------------

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		font-family: $font-heading;
		font-weight: normal;
	}


	h1 {
		letter-spacing: 0.75px;
		line-height: 1.25;

		margin: 3rem 0;

		font-size: 4em;

		@include mq-sm {
			text-align: center;

			// maintains the BLOCK appearance
			width: 100%;
		}
		@include mq(550px) {
			font-size: 2.6em;
		}
	}

	h2 {
		letter-spacing: 1.5px;
		font-size: 1.6875em;
		width: 100%;
		

		@include mq-sm {
			// maintains the BLOCK appearance
			width: 100%;
		}
	}

	h3 {

	}

	h4 {

	}

	// used for meta info
	h6 {
		display: inline-block;
		margin: 0;
	}


// Copy
// -----------

	a {
		color: inherit;
		text-decoration: none;
	}

	p {
		font-family: $font-copy;
		line-height: 1.9;

		font-size: 1em;
		text-align: left;
		
		// fixed text-wrapping issue in IE 11 
		width: 100%;

		@include mq-sm {
			font-size: 1.1em;
		}
	}

	p + p {

	}

	.art--content a,
    p a {
		color: $color-cta;
		text-decoration: underline;

		transition: 0.2s;

		&:hover {
			color: darken($color-cta, 15%);
		}
	}


	blockquote {

		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: 0;
		margin-right: 0;

		padding-left: 1em;
		padding-right: 1em;

		border-left: 0.25em solid transparent;
		border-image: $color-cta-grad;
		border-image-slice: 1;

		@include mq-md {
			font-size: 1.5em;
		}
		@include mq-sm {
			font-size: 1.25em;
		}


		p {
			line-height: 1.4;
			font-family: $font-italic;

			@include mq-sm {
				margin-left: 0.25em;
				margin-right: 0;
			}
		}
	}



// Text Alignment
.text--center  {text-align: center;}
.text--left    {text-align: left;}
.text--right   {text-align: right;}


// Text Colours
.text--color {

	&.-dark {
		color:$color-dark;
	}
}

// Text Colour Themes
// ------------------------


.theme--dark {
	color: #fff;
}

.theme--light {
	color: $color-dark;
	background-color: #fff;
}

.subheading {
	color: rgba($color-dark, 0.05);
	font-size: 7em;
	position: absolute;
	z-index: 1;
	top: 0;

	margin-top: 23vh;

	@include mq-sm {
		font-size: 15vw;
	}
}




















