// GoHobo Resource Directory
// -------------------------


// color themes
// dynamically populated by the `resource.cat` variable

.theme--accommodation {
	background: linear-gradient(-45deg, #F6B299 0%, #FE81A8 100%);

	background-size: 102%;

	&:hover {
		background-size: 200%;
	}
}
.theme--transportation {
	background: $color-blue-grad;

	background-size: 102%;

	&:hover {
		background-size: 200%;
	}
}
.theme--work-exchange {
	background: $color-purple-grad;

	background-size: 102%;

	&:hover {
		background-size: 200%;
	}
}


.dir--nav {

	padding-top: 2em;
	padding-bottom: 4em;
	text-align: center;

}

	.dir--nav__item {
		margin-top: 1em;
		border-radius: 2em;

		width: auto;
		font-size: 1em;

		color: #fff;
		font-family: $font-bold;
		letter-spacing: 0.3px;
		text-align: center;

		cursor: pointer;

		box-shadow: 0px 1px 4px 0px rgba($color-dark, 0.25);

		@include mq-md {
			display: inline-block;
			padding: 0.3em 1.5em;

			& + .dir--nav__item {
				margin-left: 2em;
			}
		}
		@include mq-sm {
			margin: 2em auto 1em auto;
			max-width: 17.375em;
			padding: 0.7em 2em;

		}

		// states
		// ------
		transition: 0.5s;

		// when the filters are set to OFF
		&.tagsort-active.theme--accommodation {
			box-shadow: none;
			background-size: 250%;
			box-shadow: 0px 0px 1px 5px rgba(#FE81A8, 0.25);
		}
		&.tagsort-active.theme--transportation {
			box-shadow: none;
			background-size: 250%;
			box-shadow: 0px 0px 1px 5px rgba(#6AB9FF, 0.25);
		}
		&.tagsort-active.theme--work-exchange {
			box-shadow: none;
			background-size: 250%;
			box-shadow: 0px 0px 1px 5px rgba(#B976FE, 0.25);
		}
	}

	.dir--nav__label {
		display: block;
		//width: 100%;
	}


.dir--list {

	margin-bottom: 12em;
	text-align: center;
}


.dir--item {
	display: inline-block;

	background-color: #fff;
	border: 1px solid #E0DFDF;
	border-radius: 4px;
	overflow: hidden;

	margin-bottom: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em;

	box-shadow: 0px 1px 6px 0px rgba($color-dark, 0.2);

	width: calc(33.33% - 2em);

	@include mq(1060px) {
		width: calc(50% - 2em);
	}
	@include mq(620px) {
		width: calc(100% - 2em);
	}


	position: relative;
	z-index: 1;
}


	.dir--item__logo {
		margin: 0;
		padding-top: 1.25em;
		padding-left: 2em;
		padding-right: 2em;

		min-height: 6.25em;
		max-width: 100%;
		overflow: hidden;

		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column nowrap;
	
		img {
			max-height: 5em;
		}
	}


	.dir--item__desc {
		padding: 0 3em;

		text-overflow: ellipsis;
		word-wrap: break-word;
		overflow: hidden;
		height: 11.75em;

		font-size: 0.9em;
	}

	.dir--item__meta-bar {
		width: 100%;
		max-width: 100%;
		max-height: 90px;

		margin-top: auto;

		@include mq-md {
			padding: 1em 2em 2.75em 2em;
		}
		@include mq-sm {
			padding: 1em 2em 2.75em 2em;
		}

	}

		.item--meta__region {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 1em;

			font-size: 0.75em;
			line-height: 2;

			border: 1px solid $color-dark;
			border-radius: 1em;

			padding: 0 1em;
		}

		.item--meta__budget {
			display: inline-block;

			margin-bottom: 0.5em;

			font-family: $font-heading;
			letter-spacing: 4px;
			font-size: 1.25em;

			cursor: help;

			@include mq-sm {
				margin-left: 1em;
				margin-right: 1em;
			}

			span {
				opacity: 0.3;
			}
		}

		// img associated with sub category
		// ie housesitting, camping, rideshare, etc
		.item--meta__subcat {
			display: inline-block;

			img {
				max-width: 2.2em;
			}
		}


	.dir--item__action {
		width: 100%;

		padding: 0.85em 0;

		color: #fff;

		transition: 0.5s;
	}
