// GoHobo Resource Directory
// -------------------------


// color themes
// dynamically populated by the `resource.cat` variable

.bg--topo {
    @include mq-md {
        //background:transparent url('../img/hero-bg-gohobo@2x.jpg') center center no-repeat;
        background-image: url('../img/bg-topo.png');
    }
}

.theme--accommodation {
	background: $color-cta-grad;

	background-size: 120%;

	&:hover {
		background-size: 200%;
	}
}
.theme--transportation {
	background: $color-blue-grad;

	background-size: 102%;

	&:hover {
		background-size: 200%;
	}
}
.theme--skills-exchange {
	background: $color-purple-grad;

	background-size: 102%;

	&:hover {
		background-size: 200%;
	}
}


.dir--nav {

	padding-top: 2em;
	padding-bottom: 4em;
	text-align: center;

}

	.dir--nav__item {
		margin-top: 1em;
		border-radius: 2em;

		width: auto;
		font-size: 1em;

		color: #fff;
		font-family: $font-bold;
		letter-spacing: 0.3px;
		text-align: center;

		cursor: pointer;

		transition: 0.15s;

		@include mq-md {
			display: inline-block;
			padding: 0.3em 1.5em;

			& + .dir--nav__item {
				margin-left: 2em;
			}
		}
		@include mq-sm {
			margin: 2em auto 1em auto;
			max-width: 17.375em;
			padding: 0.7em 2em;

		}
		
		// Colours and States
		&.-theme--transportation {
			color: $color-blue;
			border: 2px solid $color-blue;

			&:hover {
				box-shadow: 0px 2px 0px 0px rgba($color-blue, 1);
			}
			&:active {
				box-shadow: none;
			}
		}
		&.-theme--accommodation {
			color: $color-pink;
			border: 2px solid $color-pink;

			&:hover {
				box-shadow: 0px 2px 0px 0px rgba($color-pink, 1);
			}
			&:active {
				box-shadow: none;
			}
		}
		&.-theme--skills-exchange {
			color: $color-purple;
			border: 2px solid $color-purple;

			&:hover {
				box-shadow: 0px 2px 0px 0px rgba($color-purple, 1);
			}
			&:active {
				box-shadow: none;
			}
		}


		//  Active filters
		&.tagsort-active.-theme--transportation {
			box-shadow: none;
			background: $color-blue-grad;
			background-size: 125%;
			border-color: transparent;

			color: #fff;
		}
		&.tagsort-active.-theme--accommodation {
			box-shadow: none;
			background: $color-cta-grad;
			background-size: 125%;
			border-color: transparent;

			color: #fff;
		}
		&.tagsort-active.-theme--skills-exchange {
			box-shadow: none;
			background: $color-purple-grad;
			background-size: 125%;
			border-color: transparent;

			color: #fff;
		}
	}

	.dir--nav__label {
		display: block;
		//width: 100%;
	}


//   The list of Directory items
// --------------------------------

.dir--list {

	margin-left: auto;
	margin-right: auto;
	
	padding-bottom: 4em;

	@include mq-min(68.8125em) {
		width: 68.6em;
	}
	@include mq-between(31.875em ,68.75em) {
		width: 34em;
	}

	@extend %cf;

}

.dir--column {
	vertical-align: top;

	padding-left: 1em;
	padding-right: 1em;

	@include mq-min(31.8749em) {
		float: left;
	}
}

	.dir--card {
		position: relative;

		@include mq-min(31.8749em) {
			width: 32em;
		}

		margin-bottom: 3em;
	}

	.card--panel__info {
		background-color: #fff;
		padding: 1em 2em 2em 2em;

		@include mq-min(31.875em) {
			width: 18em;
		}
		
		position: relative;
		z-index: 2;
		
		box-shadow: -2px 0px 16px rgba(#000, 0.1);
	}

	.card--panel__slideout {
		background-color: #fff;
		z-index: 1;

		@include mq-min(31.875em) {
			position: absolute;
			width: 14em;
			height: 94%;
			
			right: 0;
			top: 3%;

			padding: 2.5em 0;
		}
		@include mq(31.8749em) {
			width: 90%;
			margin-left: 5%;

			padding-top: 1em;
			padding-bottom: 2em;
		}
		
		box-shadow: 2px 0px 16px rgba(#000, 0.1);
		
		text-align: center;
		
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: space-between;
	}

		.card--logo {
			margin-left: auto;
			margin-right: auto;

			width: 75%;

			@include mq(31.8749em) {
				margin-top: 2em;
				margin-bottom: 3em;
			}
		}

		.card--meta {
			display: block;
			padding-top: 0.5em;
			padding-bottom: 1em;
			font-size: 0.8em;
			color: $color-gray;
		}

		.card--title {
			font-family: $font-bold;
			margin: 0;
			padding-top: 1em;
			padding-bottom: 0.25em;
		}

		.card--desc {
			margin: 0;
		}

		.card--categories {
			padding-top: 1em;
			opacity: 0.75;

			&.-theme--transportation .card--categories__cat {
				color: $color-blue;
				border: 2px solid $color-blue;
			}
			&.-theme--accommodation .card--categories__cat {
				color: $color-pink;
				border: 2px solid $color-pink;
			}
			&.-theme--skills-exchange .card--categories__cat {
				color: $color-purple;
				border: 2px solid $color-purple;
			}
		}

		.card--categories__cat {
			display: inline-block;
			font-family: $font-bold;
			text-transform: uppercase;
			font-size: 0.65em;
			letter-spacing: 1px;

			border-radius: 2em;
			
			margin-bottom: 0.5em;
			padding-left: 0.85em;
			padding-right: 0.85em;
			padding-top: 0.25em;
			padding-bottom: 0.2em;
		}

		.card--action {
			outline: 0;
				
			box-shadow: 0px 1px 6px 0 rgba(#000, 0.2);
			border: 0;
			border-radius: 5em;
			border-radius: 3px;
			
			color: #fff;
			font-size: 0.85em;
			text-transform: uppercase;
			letter-spacing: 1px;

			@include mq-min(31.8749em) {
				padding: 0.5em 1.5em;
			}
			@include mq(31.8749em) {
				padding: 0.85em 2.5em;
			}
			
			&:hover,
			&:focus {
				
			}
			&:active {
				box-shadow: none;
			}
		}






