
.main--header {
	position: relative;
	z-index: 3;
	top: 0;
	left: 0;

	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	background: linear-gradient( to bottom, rgba(#000, 0.25), rgba(#000, 0.0) );

	@include mq-md {
		padding: 2em 4em;
	}

	@include mq-sm {
		padding: 1em 2em;
	}

}

.main--logo svg {
	fill: #fff;
	width: 5em;

	position: relative;
	z-index: 6;
}


