
.main--header {
	width: 100%;
	max-width: 1140px;

	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;

	padding-left: 2em;
	padding-right: 2em;

}

	.main--logo {
		fill: #fff;
		width: 4em;

		float: left;

	}