
// First Panel
.logo {
	position: absolute;
	top: 2em;
	left: 10%;
}


.section:nth-of-type(1) .section--container {
	width: 100%;
	height: 100%;
	background-color: rgba(#000,0.3);
}


// Email Capture Panel
.section:nth-of-type(7) .section--container {
	width: 100%;
	height: 100%;
	background-color: rgba(#fff,0.75);

	.card--transparent {
		max-width: 400px;
	}
}

// the social stuff

.fb-like {
	width: 49px;
	overflow: hidden;
	vertical-align: bottom;
}
