// Tooltips

.tooltip {
	position: absolute;
	z-index: 3;
	bottom: 100%;
	left: calc(50% - 4em);

	display: block;

	width: 8em;
	padding: 0.6em 1em;
	background-color: #fff;
	border-radius: 4px;

	background-color: #333;
	color: #fff;
	text-align: center;

	//specific to ie10 and ie11
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		box-shadow: 1px 1px 4px 1px rgba(#000,0.2);
	}

	filter: drop-shadow(1px 1px 4px rgba(#000,0.2) );

	font-size: 0.6em;
	letter-spacing: initial;
	font-family: $font-copy;

	// The States
	opacity: 0;
	visibility: hidden;
	transition: 0.25s;

	&:after {
		$width: 0.8em;

		content: ' ';
		width: 0;
		height: 0;
		position: absolute;
		top: 100%;
		left: calc(50% - #{$width});
		border-left: $width solid transparent;
		border-right: $width solid transparent;
		border-top: $width solid #333;
	}
}

.tooltip--trigger {
	position: relative;
}

.tooltip--trigger:hover + .tooltip,
.tooltip--trigger:hover .tooltip {
	opacity: 1;
	visibility: visible;
	bottom: calc(100% + 0.7em);
}

// Modal Window
.modal--overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;

	width: 100%;
	min-height: 100%;
	overflow-y: scroll;

	background-color: rgba(236,236,236, 0.96);

	display: flex;
	align-content: center;
	flex-direction: column;
	flex-wrap: nowrap;

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.2s;

	padding-bottom: 2em;
}

	.modal--close {
		cursor: pointer;

		border: 2px solid $color-dark;

		padding: 0.6em 1.2em;

		text-align: center;
		max-width: 400px;

		margin-left: auto;
		margin-right: auto;
	}

	.modal--close__btn {
		cursor: pointer;
		position: absolute;
		top: -1.5em;
		right: -2em;

		font-family: $font-heading;
		text-align: center;
		line-height: 1.5;

		border: 2px solid $color-dark;
		border-radius: 50%;
		width: 1.7em;
		height: 1.7em;
	}

	.modal--card {
		position: relative;

		display: flex;
		flex-direction: column;
		align-content: center;

		height: auto;
		margin: 3em auto;

		background-color: #fff;
		padding: 2em;

		border-radius: 0.2em;

		box-shadow: 1px 1px 10px 6px rgba(#000, 0.08);

		@include mq-md {
			width: 550px;
		}
		@include mq-sm {
			width: 90%;
		}
	}

	.modal--overlay.--is--open {
		
		visibility: visible;
		opacity: 1;
	}