.modal--overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	min-height: 100%;
	overflow-y: scroll;

	background-color: rgba(236,236,236, 0.96);

	display: flex;
	align-content: center;
	flex-direction: column;
	flex-wrap: nowrap;

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.2s;

	padding-bottom: 2em;
}

	.modal--close {
		cursor: pointer;

		border: 2px solid $color-dark;

		padding: 0.6em 1.2em;

		text-align: center;
		max-width: 400px;

		margin-left: auto;
		margin-right: auto;
	}

	.modal--close__btn {
		cursor: pointer;
		position: absolute;
		top: -1.5em;
		right: -2em;

		font-family: $font-heading;
		text-align: center;
		line-height: 1.5;

		border: 2px solid $color-dark;
		border-radius: 50%;
		width: 1.7em;
		height: 1.7em;
	}

	.modal--card {
		position: relative;

		display: flex;
		flex-direction: column;
		align-content: center;

		height: auto;
		margin: 3em auto;

		background-color: #fff;
		padding: 2em;

		border-radius: 0.2em;

		box-shadow: 1px 1px 10px 6px rgba(#000, 0.08);

		@include mq-md {
			width: 550px;
		}
		@include mq-sm {
			width: 90%;
		}
	}

	.modal--overlay.--is--open {
		
		visibility: visible;
		opacity: 1;
	}