//  Navigation
// -------------
.main--nav {
	width: 100%;

	padding-top: 1em;
	
	font-family: $font-bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	@include clearfix;

	@include mq-min(801px) {
	}
	@include mq(800px) {

	}
}

	.main--nav__wrapper {
		display: inline-block;

		@include mq-min(801px) {
			float: right;
		}
		@include mq(800px) {
			position: fixed;
			top: 0;
			right: -90%;

			height: 100%;
			width: 97%;
			max-width: 300px;

			padding-top: 8em;

			background-color: #111;

			transition: 0.25s;

			&.-is--open {
				right: 0;
			}
		}
	}

	.main--nav__item {
		position: relative;

		padding-top: 1em;
		padding-bottom: 0.25em;

		margin-left: 1em;
		margin-right: 1em;

		color: #fff;

		cursor: pointer;

		@include mq-min(801px) {
			float: left;
			font-size: 0.9em;
		}
		
		@include mq(800px) {
			width: auto;
			font-size: 1.2em;
		}

		transition: 0.2s;

		&.ui--dropdown__toggle {
			margin-left: 0;
			margin-right: 0;

			padding-left: 1em;
			padding-right: 1em;
		}
	}


// The Mobile Menu
// ----------------

.main--nav__mobile {

	svg {
		fill: #fff;
		
		width: 2em;
		margin-top: 0.65em;

		float: right;
	}
	
	@include mq-min(801px) {
		display: none;
	}

}

.main--nav__mobile.btn--close {
	position: absolute;
	top: 3.65em;
	right: 2em;
}



// Dropdown
// ---------

.ui--dropdown {
	position: relative;
	top: 100%;
	left: 0;

}

	.ui--dropdown__item {
		color: #fff;
		font-size: 0.8em;
		
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		&:first-of-type {
			margin-top: 0.5em;
		}

		&:hover {
			color: $color-cta;
		}
	}

// 	 States
// - - - - - -

.main--nav__item.ui--dropdown__toggle {

	transition: 0.45s ease-in-out;

	span::after {
		font-size: 1.25em;
		line-height: 0;
		content: '▾';
		margin-left: 6px;
	}

	&:hover {
		background-color: rgba(#000, 0.4);
	}

}

.ui--dropdown {
	max-height: 0;
	overflow: hidden;

	transition: 0.4s ease-in;

}
.ui--dropdown__toggle:hover .ui--dropdown {
	max-height: 400px;
}

