//  Navigation
// -------------

.main--nav__icon svg {
	fill: #fff;
	width: 1.8em;
}

.main--nav__close {
	position: absolute;

	@include mq-md {
		top: 2em;
		right: 4em;
	}
	@include mq-sm {
		top: 2em;
		right: 2em;
	}

	svg {
		fill: $color-dark;
		width: 2em;
	}
}

.main--nav__list {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 5;

	background-color: #fff;
	padding: 8em 2em;
	box-shadow: 0 -5px 15px 4px rgba(#000, 0.1);

	color: $color-dark;
	white-space: nowrap;

	overflow-y: scroll;

	width: 284px;

	// hide from view
	right: -284px;


// hide state --------
	transition: 0.2s ease-in;

// show state ---------
	&.-is--open {
		right: 0;
	}

}

	.main--nav__item {
		display: block;
		padding: 0.05em 0 0.05em 0.25em;
		margin-bottom: 0.5em;

		font-size: 1.2em;

		border-left: 0em solid transparent;
		transition: 0.2s;

		&:hover {
			border-left: 0.25em solid $color-cta;
		}
	}