// Post Thumbnails on Archive Pages
// ---------------------------------------

.post--list {
	display: flex;
	flex-flow: row wrap;

	border: 0.05em solid #fff;

	max-width: $breakpoint-xl;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 5em;

	overflow: hidden;

	@include mq-xl {
		margin-left: auto;
		margin-right: auto;
	}
}

	.post--item {
		position: relative;
		overflow: hidden;

		text-align: center;

		border: 0.15em solid #fff;

		display: flex;
		flex-flow: column wrap;
		flex-grow: 1;

		transition: 0.25s;

		// Normal post-item thumbnails (Journal page)

		@include mq-md {
			min-width: 300px;
			flex-basis: 50%;
			min-height: 28em;
			flex: 1 auto;

			&:nth-of-type(3n + 1) {
				flex-basis: 60%;
				max-width: 60%;
			}

		}
		@include mq-sm {
			height: 100vh;
			width: 100%;
		}

		// Small post-item thumbnails
		&__sm {
			position: relative;
			overflow: hidden;

			text-align: center;

			border: 0.1em solid #fff;

			min-width: 100%;
			height: 120px;

			& + .post--item__sm {
				margin-top: 0.5em;
			}
		}
	}


		.post--thumbnail {
			position: absolute;
			z-index: 1;

			max-width: none;
			min-width: 100%;
			min-height: 100%;
			
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;

			transition: 0.25s;

		}	

		.post--overlay {
			display: flex;
			flex-flow: row wrap;
			align-content: flex-end;

			position: absolute;
			z-index: 2;
			background: radial-gradient( rgba(#000, 0.15), rgba(#000, 0.75) );

			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;

			color: #fff;
			text-align: left;

			transition: 0.25s;

			@include mq-md {
				padding: 2em;
			}
			@include mq-sm {
				padding: 5em 2em 4em;
			}

			&:hover {
				background: radial-gradient( rgba(#000, 0.25), rgba(#000, 0.85) );
			}

			> a {
				display: flex;
				flex-flow: column wrap;
				flex-basis: 100%;
				justify-content: flex-end;
			}
		}

			// Typography
			.post--title {
				font-family: $font-medium;
				letter-spacing: 0.25px;

				max-width: 800px;
				
				overflow: hidden;

				@include mq-md {
					line-height: 1.3;
					font-size: 1.4em;

					padding: 0.35em 0;
					max-height: 220px;
				}
				@include mq-sm {
					line-height: 1.4;
					font-size: 1.8em;
					
					padding: 0.5em 0;
					
				}

				&__sm {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					padding: 0.71em 1em;

					font-family: $font-copy;
					color: #fff;
					font-size: 1em;
					white-space: normal;
					text-align: left;

					background-color: rgba(#000, 0.35);

					transition: 0.24s;

					&:hover {
						background-color: rgba(#000, 0.5);
					}
				}
			}

			.post--meta {
				font-family: $font-copy;
				//text-transform: uppercase;

				@include mq-md {
					font-size: 0.75em;
					letter-spacing: 0.04em;
				}
				@include mq-sm {
					font-size: 1em;
					letter-spacing: 0.04em;
				}

				span {
					color: $color-cta;
				}

				&.-tags {
					text-transform: uppercase;
					font-family: $font-bold;
				}
				
			}

// recent posts like on Home page
// -------------------------------

.recent-post--list {

	@include mq-md {
		width: 2000px;
		height: 300px;
	}
	@include mq-sm {
		width: calc(85vw * 5);
	}
}

.recent-post--list__item {
	position: relative;

	float: left;

	@include mq-md {
		width: 400px;
		height: 300px;
	}
	@include mq-sm {
		width: 76vw;
		height: 250px;
	}
}

	.recent-post--info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		padding: 2em;
		background: linear-gradient(rgba(#000, 0.05), rgba(#000,0.75));
		transition: 0.2s;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;

		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}

	.recent-post--title {
		color: #fff;
		font-family: $font-copy;
		font-size: 1.4em;
	}
	.recent-post--meta {
		color: #fff;
		font-family: $font-copy;
	}


// Related Posts Component
// ------------------------

.related--posts__container {
	background-color: #fff;

	padding-top: 6em;
	padding-bottom: 6em;
}

.related--posts__list {
	@include article-width;

	@include mq-sm {
		max-width: 320px;
	}
}

.related--posts__label {
	width: 100%;
	flex-basis: 100%;

	margin-bottom: 1em;
}

.related--posts__item {
	cursor: pointer;
	position: relative;

	display: inline-block;
	vertical-align: top;

	@include mq-md {
		width: 10em;

		& + .related--posts__item {
			margin-left: 1em;	
		}
	}
	@include mq-sm {
		width: 100%;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
	}
}

	.related--posts__title {
		font-size: 0.7em;
		line-height: 1;
		font-family: $font-bold;
		width: 100%;

	}

	.related--posts__thumbnail {

		width: 100%;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		transition: 0.45s;

		@include mq-md {
			filter: grayscale(90%);
			height: 6em;
		}
		@include mq-sm {
			height: 9em;
		}

		&:hover {
			filter: grayscale(0%);
		}
		
	}


