$item-width: 18.375em;

.store--wrapper {
    background-color: #fff;
    width: 100%;

    padding-top: 12em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}

    .store--section {
        @include clearfix;

        margin-left: auto;
        margin-right: auto;

        @include mq-min(981px) {
            padding-bottom: 3em;
            width: ($item-width * 3 + 3em);
        }
        @include mq-between(668px, 980px) {
            padding-bottom: 3em;
            width: ($item-width * 2 + 2em);
        }
        @include mq(667px) {
            width: 100%;
        }
    }
        
        .store--section__title {
            
        }
        .store--section__desc {

        }


    .store--item__product {
        position: relative;
        overflow: hidden;

        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;

        margin-bottom: 1em;

        //box-shadow: 0 0 4px 0 rgba(#000, 0.2);
        
        @include mq-min(668px) {
            width: $item-width;
            float: left;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
        @include mq(667px) {
            margin-left: auto;
            margin-right: auto;
        }

        transition: 0.2s;

        &:hover {
            box-shadow: 0 0 20px 0 rgba(#000, 0.3);
        }
    }


        .store--item__img {
            max-width: 100%;

            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 2em;
            padding-right: 2em;

            text-align: center;

            background-color: #f4f4f4;

            img {
                max-height: 228px;
            }
        }

        .store--item__info {
            background-color: #fff;
            width: 100%;

            padding-top: 1.5em;
            padding-bottom: 1.5em;
            padding-left: 2em;
            padding-right: 2em;

            border-top: 1px solid $color-gray-light;

            @include clearfix;

            @include mq-md {
                max-height: 94px;
            }
            @include mq-sm {
                max-height: 88px;
            }
        }

            .store--item__title {
                float: left;
                width: 100%;
                display: block;
                font-family: $font-bold;
            }
            .store--item__meta {
                float: left;
                color: lighten($color-gray, 20%);
                font-size: 0.85em;
            }
            .store--item__price {
                float: right;

                font-family: $font-bold;
                font-size: 1.5em;
                line-height: 0.65;
                color: $color-blue;
            }

            .store--item__actions {
                margin-left: auto;
                margin-right: auto;

                @include mq-md {
                    margin-top: 4em;
                }
                @include mq-sm {
                    margin-top: 6em;
                }
            }

            // States ------------

            .store--item__product:hover .store--item__overlay {
                top: 0;
                opacity: 1;
            }



// Products -------------------------
// -----------------------------------

.product--container {
    width: 100%;
    max-width: 90em;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2em;
    margin-bottom: 6em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

    .product--image {
        max-width: 44em;
        margin: auto; 
        
        background-color: #f4f4f4;
        //background-image: url('../img/bg-topo.png');

        @include mq-md {
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }

    .product--info {
        max-width: 25em;
        margin: auto;

        @include mq-md {
            margin-top: 3em;
        }
    }

        .product--info__title {
            font-size: 2em;
            text-align: center;
            margin-bottom: 0.5em;
        }
        .product--info__price {
            position: relative;
            display: block;

            font-family: $font-bold;
            font-size: 2em;
            text-align: center;
            color: $color-gray;

            margin-bottom: 1em;
            margin-top: 1em;

            &::after {
                content: '';
                width: 4em;

                border-bottom: 3px solid $color-pink-hot;

                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0.5em;
            }

            sup {
                font-size: 0.5em;
                top: -0.75em;
            }
        }

        .product--info__purchase {
            padding-top: 2em;
        }

        .product--info__meta {
            font-size: $font-size-meta;
            text-align: center;
            color: darken($color-gray-light, 45%);

            display: block;

            @include mq-md {
                padding-top: 0.5em;
            }
            @include mq-sm {
                padding-top: 1.5em;
            }
        }

        
        .product--payment-icons {
            margin-top: 2em;
            width: 60%;

            margin-left: auto;
            margin-right: auto;
        }


// HIDE THE EXTRA LOADED SHIT
// --------------------------

body > .shopify-buy-frame {
    display: none;
}

// FREE SHIPPING BANNER
// ---------------------
.banner--fixed__dark {
    width: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    background-color: $color-dark;
    color: #fff;
    text-align: center;

    padding-top: 0.25em;
    padding-bottom: 0.25em;

    @include mq-sm {
        font-size: 0.75em;
    }
}


